/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/


/*********** CONTACTO ****************/

@import '../../../assets/scss/common';

.contact {
  padding: 80px 0 60px 0;

  &__session-header__icon__ok {
    margin-bottom: 20px;

    font-size: 40px;
    text-align: center;
    color: $success-color;
  }

  textarea {
    margin-top: 40px;    
  }

  &__enviar {
    text-align: right;

    button.button-success {
      padding: 0.85em 5em;
    }
  }
}

// small
@include breakpoint(small only) {
  .contact {
    &__enviar {
      text-align: center;
    }
  }
}
