<app-banner section="contactoHeader"></app-banner>

<div class="contact">
  <div class="row">
    <div *ngIf="sent" class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
      <div class="contact__session-header__icon__ok">
        <span class="icon-tick"></span>
      </div>

      <session-header [title]="'Tu consulta se ha enviado'"
                      [description]="'Muy pronto nos pondremos en contacto contigo.'"></session-header>
    </div>
  </div>

  <div class="row">
    <div *ngIf="error" class="columns small-12 medium-12 large-4 large-offset-4 center">
      <validation-message [type]="'error'" [title]="'Vaya...'" [description]="errorMessages"></validation-message>
    </div>
  </div>
  {{errorMsg}}

  <div class="row">
    <div *ngIf="!sent" class="small-12 medium-10 medium-offset-1 large-10 large-offset-1">
      <form name="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="columns small-12 medium-12 large-6">
          <fieldset [ngClass]="{'error':formErrors.name}">
            <label for="name">Nombre y Apellidos</label>
            <input id="name" type="text" name="name" formControlName="name"/>
            <span class="icon-nombre"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.email}">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" formControlName="email"/>
            <span class="icon-mail"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.phone}">
            <label for="phone">Teléfono</label>
            <input id="phone" type="text" name="phone" formControlName="phone"/>
            <span class="icon-telefono"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.subject}">
            <label for="subject">Consulta</label>
            <input id="subject" type="text" name="subject" formControlName="subject"/>
            <span class="icon-consulta"></span>
          </fieldset>
        </div>

        <div class="columns small-12 medium-12 large-6">
          <fieldset [ngClass]="{'error':formErrors.message}">
            <textarea name="message" formControlName="message" placeholder="Escribe aquí tu mensaje..." rows="6"></textarea>
            <!--
              <div><span>{{ 1024 - contactForm.get('message').value.length }}</span> carácteres</div>
            -->
          </fieldset>

          <div class="contact__enviar">
            <button type="submit" class="button button-success" [disabled]="!contactForm.valid">
              Enviar
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<app-banner section="resourcesBottom"></app-banner>
