@import '../../../../../assets/scss/common';

.filter-navigation {
    @include text($font-base, $font-size + 1, 300, normal, $color, center, uppercase, 100%);
    margin-bottom: 30px;
    padding: 20px 0 10px 0;

    background-color: $color-f5f5f5;
    border-bottom: 1px solid $color-e1e1e1;

    ul.navigation {
        li.navigation__item {
            margin: 0;
            padding: 0 15px;

            border-right: 1px solid $color;

            &:first-child,
            &:last-child {
                border: 0;
            }

            &:first-child {
                padding: 0 15px 0 0;
            }

            &:last-child {
                padding: 0 0 0 15px;
            }

            a {
                @include link ($color, $a-color, none, none);
            }
        }
    }
}

.filter-navigation-dropdown {
    @include text($font-title, $font-size + 1, 400, normal, $color, left, uppercase, 100%);
    margin-bottom: 20px;
    padding: 5px 0;

    background-color: $color-f5f5f5;

    button.button {
        @include btn($color, $color, transparent, transparent);
        margin: 0;
        padding: 10px;

        span.icon-cruz {
            font-size: 20px;

            &:before {
                content: "\e91e";
            }
        }

        &.hover {
            span.icon-cruz {
                &:before {
                    content: "\e91d";
                }
            }
        }
    }

    &__title {
        padding: 10px 0;
        line-height: 100%;

        span.icon-financiacion {
            font-size: 20px;
        }
    }

    div.dropdown-pane {
        left: 0;
        padding: 0;

        border: 0;
        z-index: 999;

        ul.menu {
            display: block;

            li {
                display: block;
                border-bottom: 1px solid $color-2a2a2a;

                &:last-child {
                    border: 0;
                }

                a {
                    @include link ($color, $a-color, none, none);
                    display: block;
                    padding: .95rem 1rem .95rem 2.6rem;
                }
            }
        }
    }
}

// small
@include breakpoint(small only) {

}

// medium
@include breakpoint(medium only) {
    .filter-navigation {
        font-size: $font-size;
    }
}
