<!-- navigation -->
<div class="filter-navigation hide-for-small-only">
  <div class="row">
    <div class="small-12 columns">
      <ul class="navigation text-center">
        <li class="navigation__item navigation__label">Filtrar por:</li>

        <li class="navigation__item" *ngFor="let item of navs">          
          <div class="navigation-link navigation-link__{{ item.type }}">
            <a (click)="action(item.type)" [class]="item.class">{{ item.name }}</a>
          </div>          
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- / navigation -->

<!-- order menu-->
<div class="filter-navigation-dropdown show-for-small-only">
  <div class="row">
    <div class="columns small-6">
      <div class="filter-navigation-dropdown__title">
        <span class="icon-descarga"></span>&nbsp;&nbsp;&nbsp;FILTRAR
      </div>
    </div>

    <div class="columns small-6">
      <button id="filter-navigation-toggle" class="button float-right" type="button" data-toggle="filter-navigation-dropdown">
        <span class="icon-cruz"></span>
      </button>

      <div id="filter-navigation-dropdown" class="dropdown-pane top" data-dropdown>
        <ul class="menu">
          <li *ngFor="let item of navs">  
            <div class="navigation-link navigation-link__{{ item.type }}">
              <a (click)="action(item.type)" [class]="item.class">{{ item.name }}</a>
            </div>            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- / order menu-->
