@mixin Oswald{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase; // Oswald font is always displayed as uppercase
}

@mixin Asul{
  font-family: 'Asul', sans-serif;
  font-weight: 400;
  color: $color-383838;
  text-transform: initial;
}

/* border */
@mixin border(
    $border: 	0px,
    $radio: 	$border-radius
	){

	border: $border;
	border-radius: $radio;
	-moz-border-radius: $radio;
  -webkit-border-radius: $radio;
}

/* texts */
@mixin text (
    $font-family: 	  $font-family,
    $font-size: 		  $font-size,
    $font-weight: 	  $font-weight,
    $font-style: 		  $font-style,
    $color: 				  $color,
    $text-align: 		  $text-align,
    $text-transform:  $text-transform,
    $line-height: 	  $line-height
	){

	font-family: 	  $font-family;
	font-size: 		  $font-size;
	font-weight: 	  $font-weight;
	font-style: 	  $font-style;
	color: 			    $color;
	text-align: 	  $text-align;
	text-transform: $text-transform;
	line-height: 	  $line-height;

  small {
    font-size: $small-font-size;
  }
}

/* links */
@mixin link (
    $color: 					        $a-color,
    $color-hover: 				    $a-color-hover,
    $text-decoration:			    $a-text-decoration,
    $text-decoration-hover: 	$a-text-decoration-hover,
    $background-color: 			  $a-background-color,
    $background-color-hover: 	$a-background-color-hover
  ){

	color: $color;
	text-decoration: $text-decoration;
	background-color: $background-color;

	&:hover,
  &:focus,
  &.active,
  &:active {
		color: $color-hover;
		text-decoration: $text-decoration-hover;
		background-color: $background-color-hover;
  }
}

/* buttons */
@mixin btn (
    $color:                   $button-color,
    $color-hover:             $button-color-hover,
    $background-color:        $button-background-color,
    $background-color-hover:  $button-background-color-hover
  ){

  color:              $color;
  background-color:   $background-color;

  &:hover,
  &:focus,
  &.active,
  &:active {
    color:            $color-hover;
    background-color: $background-color-hover;
  }

  &::before,
  &::after {
    border-color: $color;
  }
}

/* image responsive */
@mixin img-responsive ($display: block) {
  display: $display;
  width: 100% \9; // IE 8-10 hack bug
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@function vw-calc($size, $breakpoint: ""){
  @if($breakpoint == 'small') {
    @return $size/480*100 * 1vw;
  }
  @else if($breakpoint == 'medium') {
    @return $size/744*100 * 1vw;
  }
  @else {
    @return $size/1670*100 * 1vw;
  }
}

@mixin vw-font-size( $large, $medium:$large, $small:$large ){
    @include breakpoint(small only){
    font-size: rem-calc($small);
    font-size: vw-calc($small, 'small');
    }
    @include breakpoint(medium){
    font-size: rem-calc($medium);
    font-size: vw-calc($medium, medium);
    }
    @include breakpoint(large){
    font-size: rem-calc($large);
    }
}

@mixin image-circle (){
  border-radius: 50%;
  border: 7px solid $color-e0e0e0;
}

@mixin background-cover () {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    // -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin placeholder ($color: $error-color){
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}
