// colors
$primary-color: #38d8ef;
$secondary-color: #e98a8a;
$button-bgcolor: $primary-color;
$color-e0e0e0: #e0e0e0;
$color-e1e1e1: #e1e1e1;
$color-383838: #383838;
$color-404040: #404040;
$color-ecdd97: #ecdd97;
$color-2a2a2a: #2a2a2a;
$color-8e8e8e: #8e8e8e;
$color-a6a6a6: #a6a6a6;
$color-ffffff: #ffffff;
$color-f5f5f5: #f5f5f5;
$color-7ac6d5: #7ac6d5;

$color-fcd6d5: #fcd6d5;
$color-d4dfe2: #d4dfe2;
$color-f8d8d8: #f8d8d8;
$color-764749: #764749;
$color-f9f9f9: #f9f9f9;

$error-color: #bc5e5e;
$error-bg:    #eed7d7;

// basics
$border-radius: 0;
$background-color: $color-ffffff;

// fonts
$font-base: 'Asul', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-button: $font-title;

// texts
$font-family:       $font-base;
$font-size:         16px;
$font-weight:       400;
$font-style:        normal;
$color:             $color-383838;
$line-height:       160%;
$letter-spacing:    auto;
$text-align:        left;
$text-transform:    initial;

// links
$a-color: $primary-color;
$a-color-hover: $primary-color;
$a-text-decoration: none;
$a-text-decoration-hover: underline;
$a-background-color: transparent;
$a-background-color-hover: transparent;
$a-cursor: pointer;

// buttons
$button-min-height: auto;
// $button-padding: 15px 42px;

$button-font-family:            $font-base;
$button-font-size:              $font-size;
$button-font-weight:            400;
$button-font-style:             $font-style;
$button-color:                  $color-ffffff;
$button-color-hover:            $color-ffffff;
$button-background-color:       $primary-color;
$button-background-color-hover: $primary-color;
$button-text-align:             center;
$button-text-transform:         uppercase;
$button-letter-spacing: 		1px;
$button-line-height:            1;
$button-border:                 0px;
$button-border-radius:          $border-radius;
