<app-banner section="about"></app-banner>

<!-- QUÉ BUSCAMOS -->
<div class="about__content">
  <div class="row">
    <div class="small-8 medium-8 large-5 columns">
      <div class="about__content__image">
        <img class="img-responsive" src="./assets/images/about/about-1.png" alt="">
      </div>
    </div>

    <div class="about__content__text small-12 medium-12 large-7 columns">
      <div class="about__content__text__content">
        <h2>Qué buscamos</h2>

        <p>
          Buscamos emprendedoras sociales: mujeres sensibles y atentas a las necesidades de las personas y colectivos de su alrededor. Con una iniciativa dirigiada a ofrecer soluciones innovadoras y de valor, que genere un impacto positivo en su entorno de manera dudarera.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- / QUÉ BUSCAMOS -->

<!-- QUÉ PUEDES CONSEGUIR -->
<div class="wyg">
  <div class="row">
    <div class="columns small-12">
      <h2>Qué puedes conseguir</h2>
    </div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-notoriedad"></span>
        </div>

        <h3>Notoriedad</h3>

        <p>Dar a conocer tu proyecto más allá de tu entorno cercano.</p>
      </div>
    </div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-formacion"></span>
        </div>

        <h3>Formación</h3>

        <p>Ser una de las 10 seleccionadas que reciba un curso de formación.</p>
      </div>
    </div>

    <div class="clearfix hide-for-large"></div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-asesoramiento"></span>
        </div>

        <h3>Asesoramiento</h3>

        <p>Ser una de las 2 ganadoras que reciba el asesoramiento de nuestras expertas.</p>
      </div>
    </div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-recursos"></span>
        </div>

        <h3>Recursos</h3>

        <p>Acceder a todos los recursos formativos que ofrece Font Vella.</p>
      </div>
    </div>

    <div class="clearfix hide-for-large"></div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-financiacion"></span>
        </div>

        <h3>Financiación</h3>

        <p>Ser una de las 2 ganadoras que consiga 10.000€ para impulsar su proyecto.</p>
      </div>
    </div>

    <div class="columns small-6 medium-6 large-4">
      <div class="wyg__item">
        <div class="wyg__item__icon">
          <span class="icon-inspiracion"></span>
        </div>

        <h3>Inspiración</h3>

        <p>Encontrar la inspiración que necesitas para que tu idea siga creciendo.</p>
      </div>
    </div>
  </div>
</div>
<!-- / QUÉ PUEDES CONSEGUIR -->

<!-- EL JURADO -->
<div [ngStyle]="displayJury" class="jury" id="jurado" >
  <div class="row">
    <div class="small-12 columns">
      <h2>El Jurado</h2>
    </div>

    <div class="small-12 columns">
      <div id="jury-owl" class="owl-carousel owl-theme">
        <div *ngFor="let member of jury" class="item">
          <div class="jury__image jury__image__{{ member.hash }}"></div>

          <h3>
            {{ member.name }}
          </h3>

          <p class="jury__position">
            {{ member.position }}
          </p>

          <div class="jury__logo">
            <img class="img-responsive-center" src="{{ member.logo }}" alt="">
          </div>

          <button (click)="showMember(member)" class="button button-success">
            Ver Bio
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / EL JURADO -->

<!-- MIEMBRO JURADO -->
<div [ngStyle]="displayJuryMember" class="jury-member">
  <div class="row">
    <div class="small-12 columns">
      <div class="jury-member__button-close">
        <button class="button button-success" (click)="hideMembers()">
          <span class="icon-cerrar"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div id="jury-owl-member" class="owl-carousel owl-theme owl-theme-jury-member">
        <div *ngFor="let member of jury" class="item">
          <!-- member item -->
          <div class="jury-member__item">
            <div class="row">
              <div class="columns small-12 medium-12 large-6">
                <div class="jury-member__item__image">
                  <img class="img-responsive" src="{{ member.image }}" alt="{{ member.name }}">
                </div>

                <h3 class="jury-member__item__title">
                  {{ member.name }}
                </h3>

                <p class="jury-member__item__position">
                  {{ member.position }}
                </p>
              </div>

              <div class="columns small-12 medium-12 large-6">
                <div [innerHTML]="member.description" class="jury-member__item__description"></div>

                <div *ngIf="member.phrase !== ''" class="jury-member__item__phrase__icon">
                  <img class="img-responsive-center" src="./assets/images/about/phrase.png" alt="Phrase">
                </div>

                <p class="jury-member__item__phrase">
                  {{ member.phrase }}
                </p>
              </div>
            </div>
          </div>
          <!-- end member item -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / MIEMBRO JURADO -->

<!--
<div [hidden]="!selectedMember">
    <div *ngFor="let member of jury" class="jury-detail__member" [hidden]="member !== selectedMember" >
      <div class="columns small-6">
        <div class="jury-detail__image">
          <img src="{{ member.image }}">
        </div>

        <h3 class="jury-detail__name">{{ member.name }}</h3>

        <p class="jury-detail__position">{{ member.position }}</p>
      </div>

      <div class="columns small-6 jury-detail__explanation">
        <div [innerHTML]="member.description"></div>
        <em>{{ member.phrase }}</em>
      </div>
    </div>

    <div class="jury__nav jury__nav--next"  (click)="previousMember()" ><< Anterior</div>
    <div class="jury__nav jury__nav--next" (click)="nextMember()" >Siguiente >></div>
    <div class="jury__nav jury__nav--close" (click)="closeDetail()" >X Cerrar</div>
</div>
-->

<!-- EL CALENDARIO -->
<div class="calendar" id="calendario">
  <div class="row">
    <div class="columns small-12">
      <h2 class="calendar__title">El Calendario</h2>
    </div>
  </div>

  <div class="row">
    <div class="calendar__columns columns small-6 medium-3 large-3">
        <div class="calendar__icon">
          <span class="icon-calendario1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
        </div>

		    <div class="calendar__link">
			    <div class="text-center">
			      <h3>
				      Mayo
			      </h3>

			      <h4>
				      Inicio
			      </h4>
			    </div>      
		    </div>      
    </div>

    <div class="calendar__columns columns small-6 medium-3 large-3">
        <div class="calendar__icon">
          <span class="icon-calendario30"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
        </div>
		<div class="calendar__link">
			<div class="text-center">
			  <h3>
				Junio
			  </h3>

			  <h4>
				Cierre Inscripciones
			  </h4>
			</div>      
		</div>      
    </div>

    <div class="calendar__columns columns small-6 medium-3 large-3">
        <div class="calendar__icon">
          <span class="icon-calendario26"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
        </div>
		<div class="calendar__link">
			<div class="text-center">
			  <h3>
				Julio
			  </h3>

			  <h4>
				Finalistas
			  </h4>
			</div>
		</div>
    </div>

    <div class="calendar__columns columns small-6 medium-3 large-3">
        <div class="calendar__icon">
          <span class="icon-calendariofin"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        </div>
		<div class="calendar__link">
			<div class="text-center">
			  <h3>
				Septiembre
			  </h3>

			  <h4>
				Cierre
			  </h4>
			</div>
        </div>
    </div>
  </div>
</div>
<!-- / EL CALENDARIO -->

<app-banner section="aboutBottom"></app-banner>
