/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

/* ¿QUE ES ERES IMPULSO? */
@import '../../../assets/scss/common';

/* about__content */
div.about__content {
  margin-bottom: 70px;
  padding-top: 40px;

  div.about__content__image {
    position: relative;
    width: 125%;
    height: 100%;

    img.img-responsive {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  div.about__content__text {
    background-color: $secondary-color;

    div.about__content__text__content {
      padding: 35% 8% 35% 22%;

      h2 {
        @include text($font-title, 32px, 400, normal, $color-ffffff, left, uppercase, 100%);
        margin-bottom: 25px;

        &:after {
          content: "";
          display: block;
          width: 30%;
          padding-top: 25px;

          border-bottom: 1px solid $color-ffffff;
          opacity: 0.6;
        }
      }

      p {
        @include text($font-base, $font-size + 2, 300, normal, $color-ffffff, left, none, 140%);
        margin: 0;
      }
    }
  }
}

// small
@include breakpoint(small only) {
  div.about__content {
    div.about__content__image {
      width: 100%;

      img.img-responsive {
        position: relative;
        top: 0;
      }
    }

    div.about__content__text {
      margin-top: -25%;

      div.about__content__text__content {
        margin-left: 0;
        padding: 35% 2% 15% 2%;

        background-color: $secondary-color;

        h2 {
          font-size: 26px;
        }

        p {
          font-size: $font-size;
        }
      }
    }
  }
}

// medium
@include breakpoint(medium only) {
  div.about__content {
    div.about__content__image {
      width: 100%;

      img.img-responsive {
        position: relative;
        top: 0;
      }
    }

    div.about__content__text {
      margin-top: -15%;
      background-color: transparent;

      div.about__content__text__content {
        margin-left: 10%;
        padding: 25% 10% 10% 10%;

        background-color: $secondary-color;

        h2 {
          font-size: 28px;
        }

        p {
          font-size: $font-size + 1;
        }
      }
    }
  }
}
/* end about__content */

/* wyg */
div.wyg {
  // margin-bottom: 30px;
  text-align: center;

  &__item {
    padding: 0 15% 18% 15%;

    &__icon {
      margin-bottom: 20px;

      font-size: 60px;
    }
  }

  h2 {
    @include text($font-title, 32px, 400, normal, $color, center, uppercase, 100%);
    margin-bottom: 50px;
  }

  h3 {
    @include text($font-title, 23px, 400, normal, $color, center, uppercase, 100%);
    margin-bottom: 12px;
    padding-bottom: 12px;

    border-bottom: 1px solid $color;
  }

  p {
    @include text($font-base, $font-size, 300, normal, $color, center);
    margin: 0;
  }
}

// small
@include breakpoint(small only) {
  div.wyg {
    &__item {
      padding: 0 10% 18% 10%;
    }
  }
}

// medium
@include breakpoint(medium only) {
  div.wyg {
    &__item {
      padding: 0 12% 18% 12%;
    }
  }
}
/* end wyg */

/* jury */
.jury {
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  text-align: center;
  background-color: $color-f5f5f5;

  &__image {    
    margin-bottom: 25px;

    height: 210px;
    width: 210px;
    margin: auto;
    margin-bottom: 20px;                        

    border-radius: 50%;
    border: 8px solid $color-e0e0e0;

    &__aurelie-salvaire {
      background: url("./images/aurelie-salvaire.png") no-repeat;
      @include background-cover();
    }

    &__alexandra-mitjans {
      background: url("./images/alexandra-mitjans.png") no-repeat;
      @include background-cover();
    }

    &__clara-navarro {
      background: url("./images/clara-navarro.png") no-repeat;
      @include background-cover();
    }

    &__sonia-navarro {
      background: url("./images/sonia-navarro.png") no-repeat;
      @include background-cover();
    }    

    &__pablo-sanchez {
      background: url("./images/pablo-sanchez.png") no-repeat;
      @include background-cover();
    }    
  }

  h2 {
    @include text($font-title, 32px, 400, normal, $color, center, uppercase, 100%);
    margin-bottom: 50px;
  }

  h3 {
    @include text($font-title, 20px, 400, normal, $color, center, uppercase, 100%);
    margin: 0 10% 13px 10%;
    padding-bottom: 13px;

    border-bottom: 1px solid $color;
  }

  &__position {
    @include text($font-base, $font-size - 1, 400, italic, $color, center, none, 140%);
    min-height: 65px;
  }

  &__logo {    
    position: relative;
    display: block;
    width: 100%;
    min-height: 85px;
    margin-bottom: 20px;

    img {     
      position: absolute;
      width: auto;
      max-width: 200px;      
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  button.button-success {
    padding: 10px 50px;
  }
}
/* end jury */

/* jury member */
.jury-member {
  margin-bottom: 40px;
  // padding-top: 40px;
  padding-bottom: 40px;

  &__button-close {
    padding: 20px 0;
    text-align: right;    

    button {
      @include btn($primary-color, $primary-color, $color-ffffff, $color-ffffff);
      margin: 0;
      padding: 0;

      font-size: 70px;
    }
  }

  &__item {           
    &__image {
      margin-bottom: 15px;
    }

    &__title {
      @include text($font-title, 22px, 400, normal, $color, left, uppercase);
      margin-bottom: 0;
      padding-bottom: 8px;      

      &:after {
        content: "";
        width: 40%;
        padding: 3px;
        display: block;

        border-bottom: 1px solid $color;  
      }
    }

    &__position {
      @include text($font-base, 18px, 400, italic, $color-8e8e8e, left, none, 130%);
    }

    &__description {   
      // p {
      //   @include text($font-base, 16px, 400, normal, $color, left, none, 100%);
      // }      
    }

    &__phrase {
      @include text($font-base, 20px, 400, italic, $color, center, none, 110%);
      padding: 0 5%;
    }

    &__phrase__icon {      
      margin-bottom: 10px;

      img {
        width: auto;
      }
    }
  }
}
/* end jury member */

/* */
/* EL CALENDARIO */
/* */
.calendar {
  margin-bottom: 40px;
  padding: 40px 0 70px 0;

  background-color: #333f42;

  h2 {
    @include text($font-title, 32px, 400, normal, $color-ffffff, center, uppercase);
    margin-bottom: 40px;
  }

  div.calendar__columns {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 25px;
      right: 0;
      height: 81px;
      width: 1px;

      border-right: 1px solid $color-ffffff;
      opacity: 0.5;

      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
    }
  }

  div.calendar__icon {
    display: block;
    margin-bottom: 15px;

    font-size: 120px;   
    text-align: center; 

    span {     
      color: $color-ffffff;

      &:before {
        color: $color-ffffff;
      }   

      // &.path2 {
      //   &:before {
      //     background-color: $color-ffffff;
      //     border-radius: 50%;
      //     border: 5px solid $color-383838;
      //   }        
      // }
    }

    // [class^="icon-"], 
    // [class*=" icon-"] {
    //   border: 2px solid $color-ffffff;
    //   border-radius: 50%;
    // }
  }

  .calendar__link {
    @include text($font-title, 16px, 300, normal, $color-ffffff, center, uppercase);
    @include link($color-ffffff, $color-ffffff, none, none);
    display: block;

    line-height: 180%;

    img.calendar__img {
      margin-bottom: 10px;
    }

    h3 {
      @include text($font-title, 16px, 300, normal, $color-ffffff, center, uppercase);
      margin-bottom: 0;
    }

    h4 {
      @include text($font-title, 18px, 300, normal, $color-8e8e8e, center, uppercase);
    }
  }
}
/* end el calendario */

// small
@include breakpoint(small only) {
  .calendar {
    div.calendar__columns {
      &:not(:last-child):after {
        -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
      }
    }
  }

  .jury {
     &__position {      
      min-height: 45px;
      padding: 0 10%;
    }

    &__logo {        
      min-height: 60px;
    }
  }
}

// medium
@include breakpoint(medium only) {
  .calendar {
    div.calendar__columns {
      &:not(:last-child):after {
        top: 30px;
        height: 39px;
      }
    }
  }

  .jury {
     &__position {      
      min-height: 40px;
      padding: 0 10%;
    }

    // &__logo {        
    //   min-height: 85px;
    // }
  }
}


// large
@include breakpoint(large) {
  .jury-member {
    &__item {    
      div.columns {
        padding: 0 15%;

        &:first-child {
          padding-right: 3%;
        }

        &:last-child {
          padding-left: 3%;
        }
      }    
    }
  } 
}
  