<div class="register">
  <!-- form -->
  <div class="row" *ngIf="!sent">
    <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
      <session-header [title]="'Registro'" [description]="'Introduce tus datos para crear tu cuenta y poder subir tu proyecto. Todos los campos son obligatorios.'"></session-header>
    </div>
  </div>

  <div class="row" [hidden]="confirmed || sent">
    <!-- error -->
    <div *ngIf="errorMessages" class="columns small-12 medium-12 large-4 large-offset-4 center" >
      <validation-message [type]="'error'" [title]="'Vaya...'" [description]="[errorMessages]"></validation-message>
    </div>
    <!-- end error -->

    <div class="columns small-12 medium-10 medium-offset-1 large-10 large-offset-1 end">
      <form class="register-form" name="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="columns small-12">
          <fieldset class="register-form__gender" [ngClass]="{'error':formErrors.gender}">
            <input type="radio" formControlName="gender" name="gender" value="Mujer" id="female" /><label for="female">Mujer</label>
            <input type="radio" formControlName="gender" name="gender" value="Hombre" id="male" /><label for="male">Hombre</label>
          </fieldset>
        </div>

        <div class="columns small-12 medium-12 large-6">
          <fieldset [ngClass]="{'error':formErrors.name}">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" formControlName="name" />
            <span class="icon-nombre"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.email}">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" formControlName="email" email="true" />
            <span class="icon-mail"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.password || formErrors.confirm_password}">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" formControlName="password" />
            <span class="icon-contraseña"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.password || formErrors.confirm_password}">
            <label for="confirm_password">Repetir contraseña</label>
            <input type="password" name="confirm_password" id="confirm_password" formControlName="confirm_password" />
            <span class="icon-contraseña"></span>
          </fieldset>
        </div>

        <div class="columns small-12 medium-12 large-6">
          <fieldset [ngClass]="{'error':formErrors.telephone}">
            <label for="telephone">Teléfono</label>
            <input type="text" name="telephone" id="telephone" formControlName="telephone" />
            <span class="icon-telefono"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.postal_code}">
            <label for="cp">CP</label>
            <input type="text" name="postal_code" id="cp" formControlName="postal_code" />
            <span class="icon-cp"></span>
          </fieldset>

          <fieldset [ngClass]="{'error':formErrors.province}">
            <label for="province">Provincia</label>
            <select name="province" formControlName="province" id="province">
              <option value="">--</option>
              <option *ngFor="let p of provinces" [value]="p.id">{{ p.name }}</option>
            </select>
            <span class="icon-provincia"></span>
          </fieldset>
        </div>

        <div class="columns small-12">
          <div class="register-form__button">
            <button type="submit" class="button button-success">Regístrame</button>
          </div>
        </div>

        <div class="columns small-12" [ngClass]="{'error':formErrors.legal}">
          <div class="register-form__bbll">
            <input type="checkbox" formControlName="legal" name="legal" id="legal" />
            <label for="legal">He leído y acepto las Bases Legales y la Política de Privacidad</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end form -->

  <!-- OK -->
  <div class="row" *ngIf="confirmed && sent">
    <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
      <div class="register__session-header__icon__ok">
        <span class="icon-tick"></span>
      </div>

      <session-header [title]="'¡Perfecto, tenemos tus datos!'" [description]="'Revisa tu bandeja de entrada y sigue las instrucciones del email que acabamos de enviarte para confirmar tu registro.'"></session-header>
    </div>
  </div>
  <!-- end OK -->

  <!-- KO -->
  <div class="row" *ngIf="!confirmed && sent">
    <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3 end">
      <div class="register__session-header__icon__ko">
        <span class="icon-circle"></span>
      </div>

      <session-header [title]="'Aun no has confirmado tu registro'" [description]="'Accede al email de confirmación que te mandamos cuando te registraste y haz clic en el link que contiene. ¡Es un minuto!'"></session-header>

      <p class="register__lost-email">
        ¿No encuentras el email?

        <a href="#">Te lo volvemos a enviar</a>
      </p>
    </div>
  </div>
  <!-- end KO -->
</div>
