@import '../../../assets/scss/common';

.register {
  padding: 40px 0;

  background-color: $color-f5f5f5;

  .register-form {
    margin-bottom: 20px;
    padding-bottom: 20px;

    &__gender {
      margin-bottom: 20px;

      label {
        font-size: 18px;
      }
    }

    &__button {
      padding: 20px 0 10px 0;
      text-align: center;

      button {
        padding-right: 60px;
        padding-left: 60px;
      }
    }

    &__bbll {
      text-align: center;
      overflow: hidden;

      input {

      }

      label {
        margin-right: 0;

        font-size: $font-size;
      }
    }
  }

  &__session-header {
    &__icon {
      &__ok {
        margin-bottom: 20px;

        font-size: 40px;
        text-align: center;
        color: $success-color;
      }

      &__ko {
        margin-bottom: 20px;

        font-size: 40px;
        text-align: center;
        color: $error-color;
      }
    }
  }

  &__lost-email {
    text-align: center;

    a {
      @include link($a-color, $a-color, underline, underline);
    }
  }
}

// small
@include breakpoint(small only) {
  .register {
    .register-form {
      &__bbll {
        text-align: center;

        input {
          float: left;
          width: 5%;
          margin: 0;
        }

        label {
          float: left;
          width: 90%;
          margin: 0;
        }
      }
    }

    &__session-header {
      &__icon {
        &__ok {
          font-size: 80px;
        }

        &__ko {
          font-size: 80px;
        }
      }
    }
  }
}
