<footer>
  <div class="footer">
    <div class="row">
      <div class="small-6 medium-6 large-2 column">
        <div class="footer-logo">
          <a href="/">
            <img src="assets/images/common/logo.png" alt="Font Vella - Eres Impulso 3a Edición" />
          </a>
        </div>
      </div>

      <!-- small && medium -->
      <div class="small-6 column show-for-small hide-for-large">
        <div class="footer-rrss">
          <a href="https://www.facebook.com/aguafontvella" title="FontVella Facebook" target="_blank">
            <span class="icon-facebook"></span>
          </a>
          <a href="https://twitter.com/aguafontvella" title="FontVella Twitter" target="_blank">
            <span class="icon-tw"></span>
          </a>
          <a href="https://www.instagram.com/aguafontvella/" title="FontVella Instagram" target="_blank">
            <span class="icon-instagram"></span>
          </a>
        </div>
      </div>
      <!-- / small && medium -->

      <!-- large -->
      <div class="small-12 medium-12 large-3 column hide-for-small-only hide-for-medium-only">
        <div class="footer-copy">
          &copy;&nbsp;Font Vella 2017. Todos los derechos reservados
        </div>
      </div>

      <div class="small-12 medium-12 large-5 column hide-for-small-only hide-for-medium-only">
        <div class="menu-centered">
          <ul class="menu">
            <li><a title="Aviso Legal" target="_blank"
              href="/documents/Aviso_legal_Eres_Impulso_2017.pdf">Aviso Legal</a></li>
            <li><a title="Terminos Legales" target="_blank" href="/documents/Terminos_Legales_Eres_Impulso_2017.pdf">Términos Legales</a></li>
            <li><a title="Politica de cookies"  target="_blank" href="/documents/Politica_de_cookies_Eres_Impulso_2017.pdf">Política de cookies</a></li>
            <li><a title="Mas sobre Font Vella" target="_blank"  href="http://www.fontvella.es/#es">Más sobre Font Vella</a></li>
          </ul>
        </div>
      </div>
      <!-- / large -->

      <!-- small && medium -->
      <div class="small-12 medium-12 large-5 column show-for-small hide-for-large">
        <div class="menu-centered">
          <ul class="menu">
            <li><a title="Aviso Legal" target="_blank"
              href="/documents/Aviso_legal_Eres_Impulso_2016.pdf">Aviso Legal</a>
            </li>
            <li><a title="Terminos Legales" target="_blank" href="/documents/Terminos_Legales_Eres_Impulso_2016.pdf">Términos Legales</a>
            </li>
            <li><a title="Politica de cookies"  target="_blank" href="/documents/Politica_cookies_Eres_Impulso_2016.pdf">Política de cookies</a>
            </li>
            <li><a title="Mas sobre Font Vella" target="_blank"  href="http://www.fontvella.es/#es">Más sobre Font Vella</a></li>
          </ul>
        </div>
      </div>

      <div class="small-12 medium-12 large-3 column show-for-small hide-for-large">
        <div class="footer-copy">
          &copy;&nbsp;Font Vella 2017. Todos los derechos reservados
        </div>
      </div>
      <!-- / small && medium -->

      <!-- large -->
      <div class="medium-6 large-2 column hide-for-small-only hide-for-medium-only">
        <div class="footer-rrss">
          <a href="https://www.facebook.com/aguafontvella" title="FontVella Facebook" target="_blank">
            <span class="icon-facebook"></span>
          </a>
          <a href="https://twitter.com/aguafontvella" title="FontVella Twitter" target="_blank">
            <span class="icon-tw"></span>
          </a>
          <a href="https://www.instagram.com/aguafontvella/" title="FontVella Instagram" target="_blank">
            <span class="icon-instagram"></span>
          </a>
        </div>
      </div>
      <!-- / large -->
    </div>
  </div>
</footer>

<!--
<footer class="footer">
  <div class="row">
    <div class="footer__logo"><a href="/"><img src="/assets/images/logo-footer.png" alt="Font Vella - Eres Impulso 3ª Edición"/></a></div>
    <div class="footer__copyright">Font Vella 2017. Todos los derechos reservados</div>
    <ul class="footer-menu">
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Aviso Legal</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Términos Legales</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Política de cookies</a></li>
      <li class="footer-menu__item"><a class="footer-menu__link" href="#">Más sobre Font Vella</a></li>
    </ul>
    <ul class="footer-social">
      <li class="footer-social__item"><a class="footer-social__link" hef="#">Facebook</a></li>
      <li class="footer-social__item"><a class="footer-social__link" hef="#">Twitter</a></li>
      <li class="footer-social__item"><a class="footer-social__link" hef="#">Instagram</a></li>
    </ul>
  </div>
</footer>
-->