/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

@import '../../../assets/scss/common';

div.footer {
  @include text($font-base, 12px, 400, normal, $color-404040, left, none, 100%);
  padding: 25px 0 50px 0;

  background-color: $color-f5f5f5;
  border-top: 4px solid $color-ffffff;

  div.footer-logo {
    img {
      max-height: 45px;
    }
  }

  div.footer-copy,
  ul.menu,
  div.footer-rrss {
    padding-top: 15px;
  }

  div.footer-copy {
    text-align: center;
  }

  ul.menu {
    li {
      padding: 0 15px;
      border-right: 1px solid $color-404040;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border: 0;
      }

      a {
        @include link($color-404040, $color-404040, none, none);
        padding: 0;
      }
    }
  }

  div.footer-rrss {
    padding-top: 8px;

    a {
      @include link($color-8e8e8e, $color-8e8e8e, none, none);
      display: inline-block;
      margin-right: 10px;

      line-height: 100%;

      &:last-child {
        margin-right: 0;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 24px;
      }
    }
  }
}

// small
@include breakpoint(small only) {
  div.footer {
    & > .row {
      & > [class^="small-"],
      & > [class*=" small-"] {
        padding: 0;
      }
    }

    div.footer-logo {
      padding: 0 0 0 20px;

      img {
        max-height: 35px;
      }
    }

    div.footer-copy {
      padding: 15px 0;

      background-color: $color-e1e1e1;
    }

    div.menu-centered {
      padding: 0 20px;
      text-align: left;

      ul.menu {
        width: 100%;
        padding-bottom: 15px;

        li {
          display: block;
          padding: 7px 0;

          font-size: 13px;
          border: 0;
        }
      }
    }

    div.footer-rrss {
      padding: 8px 20px 0 0;
      text-align: right;
    }
  }
}

// medium
@include breakpoint(medium only) {
  div.footer {
    padding: 25px 10px 30px;

    div.footer-copy {
      padding-top: 30px;
    }

    div.menu-centered {
      ul.menu {
        padding-top: 20px;
      }
    }

    div.footer-rrss {
      padding-top: 5px;
      text-align: right;
    }
  }
}

// footer{
//   display: inline-block;
//   width: 100%;
//   margin-top: 50px;
//   background: #ccc;
// }
// .footer{
//   &__copyright{
//     display: inline-block;
//     vertical-align: middle;
//     margin-right: 20px;
//   }
// }
// .footer-social,
// .footer-menu{
//   list-style: none;
//   display: inline-block;
//   vertical-align: middle;

//   &__item{
//     display: inline-block;
//     margin: 0 8px;
//   }
//   &__link{
//     color: $color-2a2a2a;
//   }
// }
