<!-- componente pagination -->
<div class="project__pagination">
  <div class="row">
    <div class="columns small-6">

      <!-- este select lo que hace es actualizar el limit -->
      <!--<div class="input-group">
        <span class="input-group-label">Resultados por páginas</span>

        <select class="input-group-field">
          <option value="5">5</option>
          <option value="5">10</option>
          <option value="5">15</option>
          <option value="5">20</option>
        </select>
      </div>-->
    </div>

    <div class="columns small-6">

      <div class="text-right">
        <ul class="pagination" role="navigation" aria-label="Paginador de proyectos">

          <!--
            <li class="pagination-previous disabled">Anterior <span class="show-for-sr">page</span></li>
          -->

          <li class="pagination-next">
            <a (click)="gotTo(current - 1)" aria-label="Anterior">
              Anterior <span class="show-for-sr">page</span>
            </a>
          </li>

          <!--<li *ngFor="let item of pages" [class]="current">
            <a (click)="goTo(item)" aria-label="Página {{ item }}">{{ item }}</a>
          </li>-->

          <!--
            <li class="current">1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
          -->
          
          <li class="pagination-next">
            <a (click)="gotTo(current + 1)" aria-label="Siguiente">
              Siguiente <span class="show-for-sr">page</span>
            </a>
          </li>



        </ul>
      </div>

    </div>
  </div>
</div>
<!-- componente pagination -->
