@import '../../../../../assets/scss/common';

/* project pagination */
div.project__pagination {
    @include text($font-base, 12px, 400, normal, $color-404040, left, none, 100%);
    // padding-bottom: 10px;

    div.input-group {
        margin: 0;

        span.input-group-label {
            padding: 0;

            background-color: transparent;
            border: 0;
        }

        select.input-group-field {
            width: 20%;
            height: auto;
            margin-left: 5px;

            font-size: 12px;
            border: 1px solid $color-e0e0e0;
        }
    }

    ul.pagination {
        li {
            font-size: 12px;

            &.pagination-previous,
            &.pagination-next {
                &:after,
                &:before {
                    display: none;
                }

                &.disabled {
                    color: $color;
                }
            }

            &.pagination-previous {

            }

            &.pagination-next {

            }

            &.current {
                color: $color-ffffff;
                background-color: $primary-color;
            }

            a {
                @include link ($color, $primary-color, none, none, transparent, transparent);
                padding: 5px;

                &:after,
                &:before {
                    display: none;
                }
            }
        }
    }
}
/* end project pagination */
