<header data-sticky-container> 
  <div class="sticky" data-sticky data-options="marginTop: 0; stickyOn: large;" style="width:100%">
    <!-- header top -->
    <div class="header-top">
      <div class="row">
        <div class="large-12 column">
          <div class="header-top-content">
            <div class="header-top-session">
              <a *ngIf="!user.id" routerLink="iniciar-sesion" routerLinkActive="active">Iniciar sesión</a>
              <span *ngIf="user.id">Hola, <a routerLink="area-usuario" routerLinkActive="active">{{ user.name }}</a></span>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <a routerLink="contacto" routerLinkActive="active">Contacto</a>
            </div>

            <div class="header-top-rrss">
              <a href="https://www.facebook.com/aguafontvella" title="FontVella Facebook" target="_blank">
                <span class="icon-facebook"></span>
              </a>

              <a href="https://twitter.com/aguafontvella" title="FontVella Twitter" target="_blank">
                <span class="icon-tw"></span>
              </a>

              <a href="https://www.instagram.com/aguafontvella/" title="FontVella Instagram" target="_blank">
                <span class="icon-instagram"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header top -->

    <!-- header bottom -->
    <div class="header-bottom">
      <div class="row">
        <div class="large-12 column">

          <!-- main menu-->
          <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <div class="title-bar-title">
              <a routerLink="/">
                <img src="assets/images/common/logo.png" alt="Font Vella - Eres Impulso 3a Edición" />
              </a>
            </div>

            <button id="menu-icon" class="menu-icon" type="button" data-toggle="main-menu">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>

          <div class="top-bar" id="main-menu">
            <a class="logo show-for-large" routerLink="/">
              <img src="assets/images/common/logo.png" alt="Font Vella - Eres Impulso 3a Edición" />
            </a>

            <div class="menu-centered">
              <ul class="menu">
                <li><a routerLink="que-es-eresimpulso" routerLinkActive="active">¿Qué es?</a></li>
                <li><a routerLink="proyectos" routerLinkActive="active">Proyectos</a></li>
                <li class="show-for-medium-only">
                  <a routerLink="/">
                    <img src="assets/images/common/logo.png" alt="Font Vella - Eres Impulso 3a Edición" />
                  </a>
                </li>
                <li><a routerLink="inspirate" routerLinkActive="active">Inspírate</a></li>
                <li><a routerLink="te-asesoramos" routerLinkActive="active">Te asesoramos</a></li>
              </ul>
            </div>         

            <a class="button button-success show-for-large" routerLink="sube-tu-proyecto" routerLinkActive="active">Sube tu proyecto</a>
          </div>
          <!-- / main menu-->
        </div>
      </div>
    </div>
    <!-- header bottom -->
  </div>
</header>