/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

@import '../../../assets/scss/common';

// sticky dont have to recalculate the div's height by js
header {
  &.sticky-container {
    height: auto !important; 
  }  
}

div.sticky {
  z-index: 100;
}

// header top
.header-top {
  display: block;
  width: 100%;
  padding: 8px 0 2px 0; 

  background-color: $color-e1e1e1;    
  overflow: hidden;  

  .header-top-content {
    text-align: right;
    // float: right;
    // width: 300px;

    overflow: hidden;

    .header-top-session,
    .header-top-rrss {
      display: inline-block;
      vertical-align: top;
    }  

    .header-top-session {
      //float: left;
      margin-right: 30px;
      font-size: 14px;

      a {
        @include link($color-2a2a2a, $color-2a2a2a, none, underline);
      }
    }

    .header-top-rrss {   
      //float: right;

      a {            
        @include link($color-8e8e8e, $color-8e8e8e, none, none);
        display: inline-block;
        margin-right: 10px;

        line-height: 100%;

        &:last-child {
          margin-right: 0;
        }

        [class^="icon-"], 
        [class*=" icon-"] { 
          font-size: 24px;
        }
      }      
    }  
  }  
}

// header bottom
.header-bottom {
  margin-bottom: 3px;

  background-color: $color-ffffff;
  border-bottom: 1px solid $color-2a2a2a;

  .title-bar {    
    padding: .8rem;          
    
    background-color: $color-ffffff;

    .title-bar-title {
      a {
        display: inline-block;

        img {
          max-height: 40px;
        }
      }
    }

    // button.menu-icon {
    //   @include button($primary-color, $primary-color, transparent, transparent);
    //   float: right;
    //   margin-top: 20px;

    //   outline: none;

    //   &:after {
    //     color: $primary-color;
    //     background: $primary-color;
    //     box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
    //   }

    //   &.menu-icon-open {
    //     &:after {
    //       background: #38d8ef;
    //       box-shadow: 0 7px 0 #38d8ef, 0 14px 0 #38d8ef;
    //     }
    //   }
    // }

    button.menu-icon {
      @include btn($primary-color, $primary-color, transparent, transparent);
      position: relative;      
      width: 30px;      
      height: 30px;
      float: right;      
      margin-top: 10px;
  
      outline: none;
      overflow: hidden;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;    

      &:after {
        content: "";
        display: none;
      }

      &.menu-icon-open {
        span {    
          &:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }

          &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
        }
      }   

      & > span {
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
        display: block;    
  
        background: $primary-color;            
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), 
        &:nth-child(3) {
          top: 10px;
        }

        &:nth-child(4) {
          top: 20px;
        }
      }
    }
  }

  .top-bar {    
    padding: 10px 0;

    background-color: $color-ffffff;    
    overflow: hidden;

    a.logo {
      display: inline-block;
      float: left;
      margin-right: 40px;
    }

    ul.menu {     
      background-color: $color-ffffff;

      li {
        a {                  
          @include text ($font-title, 18px, 400, normal, $color, left, uppercase, 100%);
          @include link ($color, $color, none, none);
          position: relative;          
        }
      }      
    }

    a.button {
      float: right;
      margin: 5px 0 0 0;
      padding: 15px 42px;
    }
  }
}

// small
@include breakpoint(small only) {  
  .header-top {   
    .header-top-content {
      float: none;
      width: 100%;
    }
  }

  .header-bottom {
    margin-bottom: 0;
    border: 0;

    & > .row {
      & > .large-12.column {
        padding: 0;
      }
    }    

    .title-bar {
      margin-bottom: 3px;
      border-bottom: 1px solid $color-2a2a2a;
    }

    .top-bar {   
      padding: 0;
      border: 0;

      ul.menu {        
        display: block;

        li {
          display: block;
          border-bottom: 1px solid $color-2a2a2a;

          &:last-child {
            border: 0;
          }

          a {
            padding: .9rem 1rem;
            text-align: center;
          }
        }
      }
    }
  }
}

// medium
@include breakpoint(medium only) {
  .header-bottom {
    .top-bar {     
      ul.menu {        
        li {
          a {
            font-size: 15px;

            &.active {
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 75%;
                margin: auto;

                border-bottom: 3px dotted $primary-color;            
              }            
            }
          }
        }
      }
    }
  }
}

// larges
@include breakpoint(large) {
  .header-bottom {
    .top-bar {     
      ul.menu {    
        float: left;
        padding-top: 8px;

        li {
          a {
            &.active {
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 75%;
                margin: auto;

                border-bottom: 3px dotted $primary-color;            
              }            
            }
          }
        }
      }
    }
  }
}          

// header{
//   display: inline-block;
//   width: 100%;
//   background: #fff;
//   height: 110px;
//   border-bottom: solid 1px $color-2a2a2a;
//   margin-bottom: 3px;
// }

// .pre-header{
//   display: inline-block;
//   width: 100%;
//   height: 34px;
//   background: $primary-color;
//   text-align: right;
//   &__list{
//     display: inline-block;
//     vertical-align: middle;
//     padding: 0;
//     margin: 0;
//     margin-right: 40px;
//     list-style: none;
//   }
//   &__item{
//     display: inline-block;
//     &:first-child:after{
//       content: "";
//       display: inline-block;
//       vertical-align: middle;
//       margin: 0 10px;
//       height: 15px;
//       width: 1px;
//       border-right: solid 1px $color-2a2a2a;
//     }
//   }
//   &__link{
//     display: inline-block;
//     font-size: 14px;
//     line-height: 14px;
//     margin: 0;
//     padding: 0;
//     color: $color-2a2a2a;
//   }
// }

// .header-social{
//   display: inline-block;
//   vertical-align: middle;
//   width: 100%;
//   background: $primary-color;
//   &__list{
//     display: inline-block;
//     vertical-align: middle;
//     padding: 0;
//     margin: 0;
//     list-style: none;    
//   }
//   &__item{
//     display: inline-block;
//   }
//   &__link{
//     display: inline-block;
//     width: 23px;
//     height: 23px;
//     margin: 5px 0 0 10px;
//     overflow: hidden;
//     text-indent: 999px;
//     text-decoration: none;
//     outline: transparent;
//     outline: none;
//   }
// }


// .logo{
//   display: inline-block;
//   vertical-align: middle;
//   height: 55px;
//   width: 150px;
//   margin: 10px 0;
// }

// .navigation{
//   display: inline-block;
//   vertical-align: middle;
//   margin-left: 70px;

//   &__list{
//     padding: 0;
//     margin: 0;
//     list-style: none;
//   }
//   &__item{
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 10px;
//   }
//   &__link{
//     color: $color-383838;
//     text-decoration: none;
//     text-transform: uppercase;
//     &:active{
//       text-decoration: underline;
//     }
//   }
// }

// .navigation-header{
//   position: relative;
// }

// .button.button--header{
//   position: absolute;
//   right: 20px;
//   top: 50%;
//   transform: translateY(-50%);
// }