<app-banner section="inspireHeader"></app-banner>
<inspire-navigation [navs]="navs" [action]="setTypeInspirate"></inspire-navigation>

<div class="inspire-list">
  <div class="row">
    <div *ngFor="let item of items | filterList:'type':type; last as isLast; let i = index;">
      <div class="columns small-6 medium-6 large-3" [ngClass]="{end: isLast}">
        <inspire-item [item]="item"></inspire-item>      
      </div>    
    </div>    
  </div>
</div>

<link-see-more [title]="'más inspiracion'" [action]="seeMore"></link-see-more>
<app-banner section="resourcesBottom"></app-banner>
<app-modal></app-modal>