@import "variables";

@font-face {
  font-family: 'ei-icons';
  src:  url('#{$icomoon-font-path}/ei-icons.eot?3kcx50');
  src:  url('#{$icomoon-font-path}/ei-icons.eot?3kcx50#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/ei-icons.ttf?3kcx50') format('truetype'),
    url('#{$icomoon-font-path}/ei-icons.woff?3kcx50') format('woff'),
    url('#{$icomoon-font-path}/ei-icons.svg?3kcx50#ei-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ei-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-nombre {
  &:before {
    content: $icon-nombre;
  }
}
.icon-contraseña {
  &:before {
    content: $icon-contraseña;
  }
}
.icon-notoriedad {
  &:before {
    content: $icon-notoriedad;
  }
}
.icon-plantilla {
  &:before {
    content: $icon-plantilla;
  }
}
.icon-videos {
  &:before {
    content: $icon-videos;
  }
}
.icon-tw {
  &:before {
    content: $icon-tw;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-telefono {
  &:before {
    content: $icon-telefono;
  }
}
.icon-responde {
  &:before {
    content: $icon-responde;
  }
}
.icon-recursos {
  &:before {
    content: $icon-recursos;
  }
}
.icon-provincia {
  &:before {
    content: $icon-provincia;
  }
}
.icon-profile {
  &:before {
    content: $icon-profile;
  }
}
.icon-mi_proyecto {
  &:before {
    content: $icon-mi_proyecto;
  }
}
.icon-manuales {
  &:before {
    content: $icon-manuales;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-lee {
  &:before {
    content: $icon-lee;
  }
}
.icon-label {
  &:before {
    content: $icon-label;
  }
}
.icon-jurado {
  &:before {
    content: $icon-jurado;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-inspiracion {
  &:before {
    content: $icon-inspiracion;
  }
}
.icon-incorrecto {
  &:before {
    content: $icon-incorrecto;
  }
}
.icon-foto-portada {
  &:before {
    content: $icon-foto-portada;
  }
}
.icon-foto {
  &:before {
    content: $icon-foto;
  }
}
.icon-formacion {
  &:before {
    content: $icon-formacion;
  }
}
.icon-financiacion {
  &:before {
    content: $icon-financiacion;
  }
}
.icon-finalistas {
  &:before {
    content: $icon-finalistas;
  }
}
.icon-faq {
  &:before {
    content: $icon-faq;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-escudo .path1 {
  &:before {
    content: $icon-escudo-path1;  
    color: rgb(30, 30, 27);
  }
}
.icon-escudo .path2 {
  &:before {
    content: $icon-escudo-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-en_espera {
  &:before {
    content: $icon-en_espera;
  }
}
.icon-eliminar {
  &:before {
    content: $icon-eliminar;
  }
}
.icon-descarga {
  &:before {
    content: $icon-descarga;
  }
}
.icon-cruz_abierto {
  &:before {
    content: $icon-cruz_abierto;
  }
}
.icon-cruz {
  &:before {
    content: $icon-cruz;
  }
}
.icon-cp {
  &:before {
    content: $icon-cp;
  }
}
.icon-consulta {
  &:before {
    content: $icon-consulta;
  }
}
.icon-circle {
  &:before {
    content: $icon-circle;
  }
}
.icon-charlas {
  &:before {
    content: $icon-charlas;
  }
}
.icon-cerrar {
  &:before {
    content: $icon-cerrar;
  }
}
.icon-calendariofin .path1 {
  &:before {
    content: $icon-calendariofin-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-calendariofin .path2 {
  &:before {
    content: $icon-calendariofin-path2;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendariofin .path3 {
  &:before {
    content: $icon-calendariofin-path3;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendariofin .path4 {
  &:before {
    content: $icon-calendariofin-path4;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendariofin .path5 {
  &:before {
    content: $icon-calendariofin-path5;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendariofin .path6 {
  &:before {
    content: $icon-calendariofin-path6;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendariofin .path7 {
  &:before {
    content: $icon-calendariofin-path7;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario30 .path1 {
  &:before {
    content: $icon-calendario30-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-calendario30 .path2 {
  &:before {
    content: $icon-calendario30-path2;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario30 .path3 {
  &:before {
    content: $icon-calendario30-path3;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario30 .path4 {
  &:before {
    content: $icon-calendario30-path4;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario30 .path5 {
  &:before {
    content: $icon-calendario30-path5;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario30 .path6 {
  &:before {
    content: $icon-calendario30-path6;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario26 .path1 {
  &:before {
    content: $icon-calendario26-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-calendario26 .path2 {
  &:before {
    content: $icon-calendario26-path2;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario26 .path3 {
  &:before {
    content: $icon-calendario26-path3;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario26 .path4 {
  &:before {
    content: $icon-calendario26-path4;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario26 .path5 {
  &:before {
    content: $icon-calendario26-path5;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario26 .path6 {
  &:before {
    content: $icon-calendario26-path6;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario1 .path1 {
  &:before {
    content: $icon-calendario1-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-calendario1 .path2 {
  &:before {
    content: $icon-calendario1-path2;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario1 .path3 {
  &:before {
    content: $icon-calendario1-path3;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario1 .path4 {
  &:before {
    content: $icon-calendario1-path4;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendario1 .path5 {
  &:before {
    content: $icon-calendario1-path5;  
    margin-left: -1em;  
    color: rgb(34, 34, 33);
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-asesoramiento {
  &:before {
    content: $icon-asesoramiento;
  }
}
.icon-articulos {
  &:before {
    content: $icon-articulos;
  }
}
.icon-arrow_down {
  &:before {
    content: $icon-arrow_down;
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-corazon {
  &:before {
    content: $icon-corazon;
  }
}

