@font-face {
  font-family: 'ei-icons';
  src:  url('fonts/ei-icons.eot?3kcx50');
  src:  url('fonts/ei-icons.eot?3kcx50#iefix') format('embedded-opentype'),
    url('fonts/ei-icons.ttf?3kcx50') format('truetype'),
    url('fonts/ei-icons.woff?3kcx50') format('woff'),
    url('fonts/ei-icons.svg?3kcx50#ei-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ei-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e942";
}
.icon-nombre:before {
  content: "\e945";
}
.icon-contraseña:before {
  content: "\e941";
}
.icon-notoriedad:before {
  content: "\e943";
}
.icon-plantilla:before {
  content: "\e944";
}
.icon-videos:before {
  content: "\e900";
}
.icon-tw:before {
  content: "\e901";
}
.icon-tick:before {
  content: "\e902";
}
.icon-telefono:before {
  content: "\e903";
}
.icon-responde:before {
  content: "\e904";
}
.icon-recursos:before {
  content: "\e905";
}
.icon-provincia:before {
  content: "\e906";
}
.icon-profile:before {
  content: "\e907";
}
.icon-mi_proyecto:before {
  content: "\e908";
}
.icon-manuales:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-lee:before {
  content: "\e90b";
}
.icon-label:before {
  content: "\e90c";
}
.icon-jurado:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-inspiracion:before {
  content: "\e90f";
}
.icon-incorrecto:before {
  content: "\e910";
}
.icon-foto-portada:before {
  content: "\e911";
}
.icon-foto:before {
  content: "\e912";
}
.icon-formacion:before {
  content: "\e913";
}
.icon-financiacion:before {
  content: "\e914";
}
.icon-finalistas:before {
  content: "\e915";
}
.icon-faq:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-escudo .path1:before {
  content: "\e918";
  color: rgb(30, 30, 27);
}
.icon-escudo .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-en_espera:before {
  content: "\e91a";
}
.icon-eliminar:before {
  content: "\e91b";
}
.icon-descarga:before {
  content: "\e91c";
}
.icon-cruz_abierto:before {
  content: "\e91d";
}
.icon-cruz:before {
  content: "\e91e";
}
.icon-cp:before {
  content: "\e91f";
}
.icon-consulta:before {
  content: "\e920";
}
.icon-circle:before {
  content: "\e921";
}
.icon-charlas:before {
  content: "\e922";
}
.icon-cerrar:before {
  content: "\e923";
}
.icon-calendariofin .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.icon-calendariofin .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendariofin .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendariofin .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendariofin .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendariofin .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendariofin .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario30 .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}
.icon-calendario30 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario30 .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario30 .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario30 .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario30 .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario26 .path1:before {
  content: "\e931";
  color: rgb(0, 0, 0);
}
.icon-calendario26 .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario26 .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario26 .path4:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario26 .path5:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario26 .path6:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario1 .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}
.icon-calendario1 .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario1 .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario1 .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendario1 .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-calendar:before {
  content: "\e93c";
}
.icon-asesoramiento:before {
  content: "\e93d";
}
.icon-articulos:before {
  content: "\e93e";
}
.icon-arrow_down:before {
  content: "\e93f";
}
.icon-arrow:before {
  content: "\e940";
}
.icon-corazon:before {
  content: "\e946";
}

