// $icomoon-font-path: "fonts" !default;
$icomoon-font-path: "./assets/icons/fonts" !default;

$icon-linkedin: "\e942";
$icon-nombre: "\e945";
$icon-contraseña: "\e941";
$icon-notoriedad: "\e943";
$icon-plantilla: "\e944";
$icon-videos: "\e900";
$icon-tw: "\e901";
$icon-tick: "\e902";
$icon-telefono: "\e903";
$icon-responde: "\e904";
$icon-recursos: "\e905";
$icon-provincia: "\e906";
$icon-profile: "\e907";
$icon-mi_proyecto: "\e908";
$icon-manuales: "\e909";
$icon-mail: "\e90a";
$icon-lee: "\e90b";
$icon-label: "\e90c";
$icon-jurado: "\e90d";
$icon-instagram: "\e90e";
$icon-inspiracion: "\e90f";
$icon-incorrecto: "\e910";
$icon-foto-portada: "\e911";
$icon-foto: "\e912";
$icon-formacion: "\e913";
$icon-financiacion: "\e914";
$icon-finalistas: "\e915";
$icon-faq: "\e916";
$icon-facebook: "\e917";
$icon-escudo-path1: "\e918";
$icon-escudo-path2: "\e919";
$icon-en_espera: "\e91a";
$icon-eliminar: "\e91b";
$icon-descarga: "\e91c";
$icon-cruz_abierto: "\e91d";
$icon-cruz: "\e91e";
$icon-cp: "\e91f";
$icon-consulta: "\e920";
$icon-circle: "\e921";
$icon-charlas: "\e922";
$icon-cerrar: "\e923";
$icon-calendariofin-path1: "\e924";
$icon-calendariofin-path2: "\e925";
$icon-calendariofin-path3: "\e926";
$icon-calendariofin-path4: "\e927";
$icon-calendariofin-path5: "\e928";
$icon-calendariofin-path6: "\e929";
$icon-calendariofin-path7: "\e92a";
$icon-calendario30-path1: "\e92b";
$icon-calendario30-path2: "\e92c";
$icon-calendario30-path3: "\e92d";
$icon-calendario30-path4: "\e92e";
$icon-calendario30-path5: "\e92f";
$icon-calendario30-path6: "\e930";
$icon-calendario26-path1: "\e931";
$icon-calendario26-path2: "\e932";
$icon-calendario26-path3: "\e933";
$icon-calendario26-path4: "\e934";
$icon-calendario26-path5: "\e935";
$icon-calendario26-path6: "\e936";
$icon-calendario1-path1: "\e937";
$icon-calendario1-path2: "\e938";
$icon-calendario1-path3: "\e939";
$icon-calendario1-path4: "\e93a";
$icon-calendario1-path5: "\e93b";
$icon-calendar: "\e93c";
$icon-asesoramiento: "\e93d";
$icon-articulos: "\e93e";
$icon-arrow_down: "\e93f";
$icon-arrow: "\e940";
$icon-corazon: "\e946";

