<app-banner section="project-form"></app-banner>

<!-- project navigation -->
<div class="project-form-navigation">
  <div class="row">
    <div class="small-12 columns">
      <ul class="navigation text-center navigation">
        <li class="navigation__item" [ngClass]="{'navigation__item--active' : step === 1}">
          Paso 1
        </li>

        <li class="navigation__item" [ngClass]="{'navigation__item--active' : step === 2}">
          Paso 2
        </li>

        <li class="navigation__item" [ngClass]="{'navigation__item--active' : step === 3}">
          Paso 3
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- / project navigation -->

<!-- project form -->
<div class="project-form">
  <form class="row" name="projectForm" [formGroup]="projectForm" [hidden]="step == 3">
    <div class="columns small-12 medium-12 large-8 large-offset-2">
      <!-- step 1 -->
      <div [hidden]="step != 1">
        <div formGroupName="step1">
          <!-- step 1-1 -->
          <div class="row">
            <fieldset class="project-form__step project-form__step1-1 small-12 columns" [ngClass]="{'error':formErrors.name}">
              <label for="title">
                1. Nombre del proyecto
                <br>
                <small>(máximo 40 caracteres)</small>
              </label>
              <input type="text" name="name" id="name" formControlName="name" maxlength="40" placeholder="Escribe aquí...">
            </fieldset>
          </div>

          <!-- step 1-2 -->
          <div class="row">
            <fieldset class="project-form__step project-form__step1-2 small-12 columns" [ngClass]="{'error':formErrors.description}">
              <label for="description">
                2. Explica brevemente tu propuesta
                <br>
                <small>(máximo 300 caracteres)</small>
              </label>

              <textarea name="description" id="description" formControlName="description" placeholder="Escribe aquí..." rows="10"  maxlength="300"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step1.description').value.length }}</span> carácteres</div> -->
            </fieldset>
          </div>

          <div class="row">
            <!-- step 1-3 -->
            <fieldset class="project-form__step project-form__step1-3 columns small-12 medium-6 large-6 profile_image" [ngClass]="{'error':formErrors.profile_image}">
              <label for="profile_image">
                3. Sube una foto tuya
                <br>
                <small>(debe medir 200x200px mín.)</small>
              </label>
              <input type="text" name="profile_image" id="profile_image" formControlName="profile_image" class="hide">
              <image-upload
                [id]="'profile_image'"
                [iconClass]="'icon-profile'"
                [max]="1"
                [buttonCaption]="''"
                [dropBoxMessage]="''"
                [url]="uploadImageUrl"
                [withCredentials]="true"
                (onFileUploadFinish)="imageUploaded($event,'step1.profile_image')"
                (onRemove)="imageRemoved($event,'step1.profile_image')"
              ></image-upload>
            </fieldset>

            <!-- step 1-4 -->
            <fieldset class="project-form__step project-form__step1-4 columns small-12 medium-6 large-6 main_image" [ngClass]="{'error':formErrors.main_image}">
              <label for="main_image">
                4. Sube la portada del proyecto
                <br>
                <small>(debe medir 450x350px mín.)</small>
              </label>
              <input type="text" name="main_image" id="main_image" formControlName="main_image" class="hide">
              <image-upload
                [id]="'main_image'"
                [iconClass]="'icon-foto-portada'"
                [max]="1"
                [buttonCaption]="''"
                [dropBoxMessage]="''"
                [url]="uploadImageUrl"
                [withCredentials]="true"
                (onFileUploadFinish)="imageUploaded($event,'step1.main_image')"
                (onRemove)="imageRemoved($event,'step1.main_image')"
              ></image-upload>
            </fieldset>
          </div>

          <!-- step-1-5 -->
          <div class="project-form__step project-form__step1-5">
            <div class="row">
              <div class="columns small-12">
                <label>5. Puedes subir hasta 3 fotos más</label>
              </div>

              <fieldset class="columns small-4 text-center">
                <input type="text" name="images[1]" id="images[1]" formControlName="additional_image1" class="hide" />
                <image-upload
                  [id]="'additional_image1'"
                  [iconClass]="'icon-foto'"
                  [max]="1"
                  [buttonCaption]="''"
                  [dropBoxMessage]="''"
                  [url]="uploadImageUrl"
                  [withCredentials]="true"
                  (onFileUploadFinish)="imageUploaded($event,'step1.additional_image1')"
                  (onRemove)="imageRemoved($event,'step1.additional_image1')"
                ></image-upload>
              </fieldset>

              <fieldset class="columns small-4 text-center">
                <input type="text" name="images[2]" id="images[2]" formControlName="additional_image2" class="hide" />
                <image-upload
                  [id]="'additional_image2'"
                  [iconClass]="'icon-foto'"
                  [max]="1"
                  [buttonCaption]="''"
                  [dropBoxMessage]="''"
                  [url]="uploadImageUrl"
                  [withCredentials]="true"
                  (onFileUploadFinish)="imageUploaded($event,'step1.additional_image2')"
                  (onRemove)="imageRemoved($event,'step1.additional_image2')"
                ></image-upload>
              </fieldset>

              <fieldset class="columns small-4 text-center">
                <!--<img class="img-responsive-center img-circle" src="http://lorempixel.com/400/400/" alt="">-->
                <input type="text" name="images[3]" id="images[3]" formControlName="additional_image3" class="hide" />
                <image-upload
                  [id]="'additional_image3'"
                  [iconClass]="'icon-foto'"
                  [max]="1"
                  [buttonCaption]="''"
                  [dropBoxMessage]="''"
                  [url]="uploadImageUrl"
                  [withCredentials]="true"
                  (onFileUploadFinish)="imageUploaded($event,'step1.additional_image3')"
                  (onRemove)="imageRemoved($event,'step1.additional_image3')"
                ></image-upload>
              </fieldset>
            </div>
          </div>

          <!-- step-1-6 -->
          <div class="row">
            <fieldset class="project-form__step project-form__step1-6 columns small-12">
              <label for="title">
                6. Web de tu proyecto
                <br>
                <small>(no es obligatorio)</small>
              </label>

              <input type="text" name="web" id="web" formControlName="web" placeholder="Copia aquí la URL" />
            </fieldset>
          </div>

          <validation-message
            [hidden]="!validationMessage"
            [description]="'Tu proyecto se ha guardado satisfactoriamente.'"
          ></validation-message>

          <!-- buttons -->
          <div class="project-form__buttons">
            <div class="button-group">
              <button type="button" class="button button-success" (click)="submit(false)">Guardar borrador</button>
              <input type="button" class="button button-success" value="Enviar" [disabled]="!projectForm.valid" (click)="save(true)">
              <button type="button" class="button button-transparent" (click)="nextStep()">Siguiente</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end step 1 -->

      <!-- step 2 -->
      <div [hidden]="step != 2">
        <div formGroupName="step2">

          <!-- step-2-1 -->
          <div class="project-form__step project-form__step2-1">
            <label>1. Cuéntanos tu proyecto</label>

            <div class="owl-carousel owl-theme">
              <div class="item">
                <fieldset class="text-center">
                  <h4 class="project-form__step2-1__title">descarga</h4>

                  <div class="project-form__step2-1__image">
                    <span class="icon icon-descarga"></span>
                  </div>

                  <div class="project-form__step2-1__text">
                    <p>Descárgate los materiales de apoyo que hemos preparado.</p>
                  </div>
                </fieldset>
              </div>

              <div class="item">
                <fieldset class="text-center">
                  <h4 class="project-form__step2-1__title">lee</h4>

                  <div class="project-form__step2-1__image">
                    <span class="icon icon-lee"></span>
                  </div>

                  <div class="project-form__step2-1__text">
                    <p>Haz una primera lectura para tener una idea general del contenido.</p>
                  </div>
                </fieldset>
              </div>

              <div class="item">
                <fieldset class="text-center">
                  <h4 class="project-form__step2-1__title">responde</h4>

                  <div class="project-form__step2-1__image">
                    <span class="icon icon-responde"></span>
                  </div>

                  <div class="project-form__step2-1__text">
                    <p>No tienes que responder a todas las preguntas de una vez, pero no olvides guardar el borrador antes de salir.</p>
                  </div>
                </fieldset>
              </div>
            </div>

            <!-- buttons -->
            <div class="project-form__buttons">
              <div class="button-group">
                <a class="button button-success" target="_blank" href="/documents/Gui%CC%81a_para_rellenar_la_candidatura_Eres_Impulso_Segunda_Edicio%CC%81n.pdf">Descargar guía</a>
                <a class="button button-success" target="_blank" href="te-asesoramos">Descargar lecturas<br/>y materiales</a>
              </div>
            </div>
          </div>

          <!-- step-2-2 -->
          <div class="project-form__step project-form__step2-2">
            <label>2. Responde a las preguntas</label>

            <fieldset class="questions__item" [hidden]="question!=1">
              <label for="explanation">Describe el problema social sobre el cual trabaja tu proyecto, las personas a las que va dirigido y de qué manera esperas incidir positivamente sobre ambos a través de tu propuesta.</label>

              <textarea name="explanation" id="explanation" formControlName="explanation" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.explanation').value.length }}</span> carácteres</div> -->
            </fieldset>

            <fieldset class="questions__item" [hidden]="question!=2">
              <label for="model_business">Describe el modelo de negocio de tu proyecto y su viabilidad.</label>
              <textarea name="model_business" id="model_business" formControlName="model_business" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.model_business').value.length }}</span> carácteres</div> -->
            </fieldset>

            <fieldset class="questions__item" [hidden]="question!=3">
              <label for="team_description">Presenta brevemente al equipo que emprende o lidera el proyecto: ¿quiénes sois y cuáles son vuestras motivaciones?</label>
              <textarea name="team_description" id="team_description" formControlName="team_description" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.team_description').value.length }}</span> carácteres</div> -->
            </fieldset>

            <fieldset class="questions__item" [hidden]="question!=4">
              <label for="calendar">Plantea y calendariza los principales objetivos de tu proyecto en el primer año.</label>
              <textarea name="calendar" id="calendar" formControlName="calendar" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.calendar').value.length }}</span> carácteres</div> -->
            </fieldset>

            <fieldset class="questions__item" [hidden]="question!=5">
              <label for="need_economic">Detalla y presupuesta los recursos que necesitas para desarrollar tu proyecto el primer año.</label>
              <textarea name="need_economic" id="need_economic" formControlName="need_economic" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.need_economic').value.length }}</span> carácteres</div> -->
            </fieldset>

            <fieldset class="questions__item" [hidden]="question!=6">
              <label for="info_extra">Prepara un vídeo pitch de menos de 2 minutos de duración explicando las ideas claves de tu proyecto.</label>
              <textarea name="info_extra" id="info_extra" formControlName="info_extra" placeholder="Escribe aquí..." rows="8"></textarea>
              <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.info_extra').value.length }}</span> carácteres</div> -->
            </fieldset>
          </div>

          <!-- pagination -->
          <div class="text-center">
            <ul class="pagination pagination-step2-2" role="navigation" aria-label="Pagination">
              <!--<li class="pagination-previous disabled" (click)="gotToQuestion(question-1)" ></li>-->
              <li [ngClass]="{'current': question==i}" *ngFor="let i of questions"><a [ngClass]="{'pager__item--active': question==i}" (click)="gotToQuestion(i)" >{{ i }}</a></li>
              <!--<li class="pagination-next"><a href="#" (click)="gotToQuestion(question+1)"></a></li>-->
            </ul>
          </div>
          <!-- pagination -->

          <validation-message
            [hidden]="!validationMessage"
            [description]="'Tu proyecto se ha guardado satisfactoriamente.'"
          ></validation-message>

          <!-- buttons -->
          <div class="project-form__buttons">
            <div class="button-group">
              <button type="button" class="button button-transparent" (click)="backStep()">Volver</button>
              <input type="button" class="button button-success" value="Enviar" [disabled]="!projectForm.valid" (click)="save(true)">
              <button type="button" class="button button-success" (click)="submit(false)">Guardar borrador</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- step 2 -->

  <!-- step 3 -->
  <div [hidden]="step != 3">
    <div class="row">
      <div class="columns small-12 medium-12 large-8 large-offset-2">
        <div class="project-form__step project-form__step3">
          <div class="project-form__step3__icon">
            <span class="icon-tick"></span>
          </div>

          <h2>¡Lo has hecho, te has lanzado!</h2>

          <p>Próximamente revisaremos toda la información adjunta para asegurarnos<br/>de que no falta nada. Este proceso de validación puede durar hasta una semana.</p>

          <p>Una vez finalizado nos pondremos en contacto contigo vía email,<br/>no le quites el ojo a tu bandeja de entrada.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end step 3 -->
</div>
<!-- end project form -->

<app-banner section="homeBottom" [hidden]="step != 1"></app-banner>
