<div class="project__item">
  <div class="project__item__image" [ngStyle]="{'background-image': 'url(' + project_real_image + ')'}"></div>

  <div class="project__item__text row collapsed">
    <div class="small-9 columns">
      <h3 *ngIf="item.project_name">{{ item.project_name }}</h3>
      <h4 *ngIf="item.project_user">{{ item.project_user }}</h4>
    </div>
    <div class="small-3 columns"><div *ngIf="item.project_year===2017" [ngClass]="{'no-votes':!item.votes.length}" class="votes">{{ item.votes.length }} <button (click)="vote(item)" [disabled]="voted" class="icon-corazon" [ngClass]="{'voted':voted}"></button></div></div>
    <div class="small-12 columns">
      <div class="project__item__text__innerText" *ngIf="item.project_description" [innerHTML]="project_description_truncated"></div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12 medium-6 large-6">
      <div class="project__item__actions">
        <a [routerLink]="['/proyectos', item.project_id, project_url_name]" class="button button-success" target="_self">Saber más</a>
        <button *ngIf="item.project_year===2017" class="button button-success" (click)="vote(item)" [disabled]="voted" >Votar</button>
      </div>
    </div>

    <div class="columns small-12 medium-6 large-6">
      <div class="project__item__share">
        <div class="project__item__share__links">
          <a href="{{ facebook }}" target="_blank"><span class="icon-facebook"></span></a>
          <a href="{{ twitter }}" target="_blank"><span class="icon-tw"></span></a>
        </div>

        <div class="project__item__share__title">
          Compartir
        </div>
      </div>
    </div>
  </div>
</div>