@import '../../../../../assets/scss/common';

/* project item */
div.project__item {
    // margin: 0 30px 40px 30px;
    margin-bottom: 40px;
    padding-bottom: 25px;

    border-bottom: 1px solid $color;

    &__image {
        width: 100%;
        height: 360px;
        margin-bottom: 20px;

        border: 1px solid $color-e1e1e1;
        @include background-cover();        

        // &:hover {
        //     background-size: 105%;
        // }
    }

    &__text {        
        padding-bottom: 10px;

        &>div:first-child{
            min-height: 100px;
        }

        h3 {
            @include text($font-title, 24px, 400, normal, $color, left, uppercase, 100%);
            //min-height: 50px;
            margin-bottom: 10px;
        }

        h4 {
            @include text($font-title, 18px, 400, normal, $color-a6a6a6, left, uppercase, 100%);
            margin-bottom: 20px;
        }        

        &__innerText {            
            min-height: 120px;

            font-size: 15px;
            font-weight: 300;
            line-height: 130%;
        }
    }

    &__actions {
        .button {
            display: inline-block;
            // width: 45%;
            margin: 0;
            padding: 0.7em 1em;

            &:first-child {
                margin-right: 8px;
            }
        }
    }

    &__share {
        padding-top: 5px;

        font-size: 12px;
        text-align: right;
        line-height: 100%;

        overflow: hidden;

        &__title {
            float: right;
            padding: 7px 20px 0 0;
        }

        &__links {
            float: right;

            a {
                @include link ($a-color, $a-color, none, none);
                font-size: 26px;

                &:first-child {
                    @include link (#2382c7, #2382c7, none, none);
                    margin-right: 5px;
                }
            }
        }
    }
}
/* end project item */

// small
@include breakpoint(small only) {
    div.project__item {
        margin: 0 0 40px 0;

        &__image {            
            height: 280px;        
        }

        &__actions {
            .button {
                width: 40%;
                padding: 0.8em;
            }
        }

        &__share {
            width: 140px;
            padding-top: 20px;
            text-align: left;

            &__title {
              float: left;
              padding-right: 0;

              font-size: 14px;
            }

            &__links {
              float: right;
            }
        }
    }
}

// medium
@include breakpoint(medium only) {
    div.project__item {
        margin: 0 0 40px 0;

        &__actions {
            .button {
                width: 35%;
                padding: 0.55em 1em;
            }
        }
        &__image {            
            height: 340px;        
        }
    }
}


.votes{
    @include text($font-title, 24px, 400, normal, $color-383838, right, uppercase, 100%);
    &.no-votes{
        color: $color-a6a6a6;
    }
    button{
        display: inline-block;
        vertical-align: middle;
        font-size: 26px;
        color: $color-e0e0e0;
        margin-left: 5px;

        &:hover{
            color: red;
        }
        &.voted{
            animation: pum-pum 0.5s;
            color: red;
        }
        @keyframes pum-pum {
            0% { transform: scale(1); }
            50% { transform: scale(2);}
            100% { transform: scale(1); color: red;}
        } 

    }
}