@import '../../../assets/scss/common';

.validation-message {
  @include text($font-base, 16px, 400, normal, $color-764749, center, none, 140%);
  padding: 25px 20px;
  margin-bottom: 30px;

  color: $color-764749;
  text-align: center;
  background-color: $color-f8d8d8;

  h4 {
    @include text($font-base, 20px, 400, normal, $color-764749, center, uppercase, 100%);
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  @mixin ua-iconStyles {
      position: absolute;
      font-size: 40px;
      top: 0;
      margin-top: -19px;
      margin-left: -19px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
  }

  &--ua-ok {
    position: relative;
    padding-top: 30px; margin: 50px 0 20px;

    background-color: #dce4de;
    border: solid 1px #425646;
    color:#425646;

    h4 {
      color:#425646;
    }
    .icon{
      @include ua-iconStyles;
      background: #a0daae;
    }
  }
  &--ua-ko {
    position: relative;
    padding-top: 30px; margin: 50px 0 20px;

    background-color: #eed7d7;
    border: solid 1px #a0424e;
    color:#7f5c5c;
    h4 {
      color:#7f5c5c;
    }
    .icon{
      @include ua-iconStyles;
      background: #d9a1a8;
      color: #a0424e;
    }
  }
  &--ua-standby {
    position: relative;
    padding-top: 30px; margin: 50px 0 20px;

    background-color: #dceef2;
    border: solid 1px #27464f;
    color:#27464f;
    h4 {
      color:#27464f;
    }
    .icon{
      @include ua-iconStyles;
      color:#27464f;
      background: #74bacd;
    }
  }
}