<validation-message [hidden]="!errorMessages" [type]="'error'" [title]="errorTitle || 'Vaya...'" [description]="errorMessages"></validation-message>
<form class="login-form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-form__content">
    <fieldset [ngClass]="{'error':validate && loginForm.get('email').errors}">
      <label for="password">Email</label>
      <input type="email" name="email" formControlName="email" />
      <span class="icon-mail"></span>
    </fieldset>

    <fieldset>
      <label for="password">Contraseña</label>
      <input type="password" name="password"  formControlName="password" />
      <span class="icon-contraseña"></span>
    </fieldset>
  </div>

  <div class="row">
    <div class="small-6 medium-5 large-5 columns">
      <div class="login-form__recuerdame">
        <input id="checkbox12" type="checkbox">
        <label for="checkbox12">Recordarme</label>
      </div>
    </div>

    <div class="small-6 medium-7 large-7 columns">
      <div class="text-right">
        <a class="forgot-password" (click)="restorePassword()">¿Has olvidado tu contraseña?</a>
      </div>
    </div>
  </div>

  <div class="login-form__buttons">
    <button class="button button-success" type="submit" [disabled]="!loginForm.valid">iniciar sesión</button>
  </div>
</form>