@import '../../../assets/scss/common';

.login-form {

  &__content {
    margin-bottom: 15px;
  }

  &__buttons {
    padding: 20px 0;

    .button {
      margin: 0;
    }
  }

  &__recuerdame {
    min-width: 140px;

    label {
      margin-right: 0;
    }
  }

  a.forgot-password {
    @include text($font-base, $font-size, 400, italic, $a-color);
    @include link($a-color, $a-color, underline, underline);
  }
}