@import '../../../assets/scss/common';

.reveal {
    width: 100%;
    max-width: 940px;
    padding: 0;
    border: 0;

    button.close-button {
      @include btn(#282828, #282828, transparent, transparent);
      position: absolute;
      top: 0;
      right: 10px;
      margin: 0;
      padding: 0;

      font-size: 70px;

      span.icon-cerrar {
        &:before {
          color: $primary-color;
        }
      }
    }
}