<div id="app-modal" class="reveal" data-reveal>
  <div id="app-modal-content"></div>  
  
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span class="icon-cerrar"></span>
  </button>
</div>