/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

@import '../../../assets/scss/common';

/* HOME */
.homepage-sections {
  padding-top: 40px;

  .columns {
    padding-right: 10px;
    padding-left: 10px;
  }

  .homepage-section {
    padding-bottom: 40px;

    h4 {
      @include text($font-title, 20px, 400, normal, $color, left, uppercase, 140%);
      margin-bottom: 10px;
      padding-bottom: 3px;

      border-bottom: 1px solid $color-2a2a2a;
    }
  }
}

// projects preview
.projects-preview {
  padding-top: 40px;
  padding-bottom: 60px;

  .projects-preview-header {
    text-align: center;

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: 66px;
    }

    h2 {
      @include text($font-title, 34px, 400, normal, $color, center, uppercase);
      margin-bottom: 25px;

      &:after {
        content: "";
        display: block;
        width: 100px;
        margin: auto;
        padding-top: 10px;

        border-bottom: 1px solid #2a2a2a;
      }
    }
  }

  a.projects-preview_link {
    @include text($font-title, 20px, 300, normal, $color-a6a6a6, center, uppercase);
    @include link($color-404040, $color-404040, none, none);
  }
}

.projects-preview_carousel {
  margin-bottom: 10px;

  .owl-carousel {
    .item {
      text-align: center;

      div.item-image {
        height: 300px;
        width: 300px;
        margin: auto;
        margin-bottom: 20px;                        

        border-radius: 50%;
        border: 5px solid $color-e0e0e0;

        &__proyecto-1 {
          background: url("./images/proyecto-1.png") no-repeat;
          @include background-cover();
        }

        &__proyecto-2 {
          background: url("./images/proyecto-2.png") no-repeat;
          @include background-cover();
        }

        &__proyecto-3 {
          background: url("./images/proyecto-3.png") no-repeat;
          @include background-cover();
        }
      }

      h4 {
        @include text($font-title, 20px, 400, normal, $color-404040, center, uppercase);
        margin-bottom: 0;
      }

      h5 {
        @include text($font-title, 18px, 400, normal, $color-a6a6a6, center, uppercase);
      }

      div.item-buttons {
        overflow: hidden;

        a.button-success {
          float: left;
          width: 50%;
          height: 40px;
          margin: 0;
          padding: 12px 1em;

          font-size: 16px;          
        }

        div.item-buttons_right {
          @include text($font-title, 16px, 400, normal, $color-8e8e8e, left, capitalize);
          float: right;
          height: 40px;
          width: 50%;
          padding: 8px;

          background-color: $color-e1e1e1;
          overflow: hidden;

          span.item-buttons_right_share {
            float: left;
          }

          a {
            @include link($color-8e8e8e, $color-8e8e8e, none, none);
            display: inline-block;
            float: right;
            margin-left: 2px;

            line-height: 100%;

            &:last-child {
              margin: 0;
            }

            [class^="icon-"],
            [class*=" icon-"] {
              font-size: 27px;
            }
          }
        }
      }
    }
  }
}

/* */
/* SHORTCUTS */
/* */
.shortcuts {
  padding: 40px 0 50px 0;

  background-color: $secondary-color;

  h2 {
    @include text($font-title, 32px, 400, normal, $color-ffffff, center, uppercase);
    margin-bottom: 40px;
  }

  div.shortcut__columns {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 10px;
      right: 0;
      height: 80px;

      border-right: 1px solid $color-ffffff;
      opacity: 0.5;
    }
  }

  div.shortcuts__icon {
    display: block;
    margin-bottom: 15px;

    font-size: 120px;
  }

  a.shortcuts__link {
    @include text($font-title, 16px, 300, normal, $color-ffffff, center, uppercase);
    @include link($color-ffffff, $color-ffffff, none, none);
    display: block;

    line-height: 160%;

    img.shortcuts__img {
      margin-bottom: 20px;
    }

    div.shortcuts__text {
      display: block;
      padding-bottom: 5px;

      line-height: 100%;
    }
  }
}

// small
@include breakpoint(small only) {
  .homepage-sections {
    // padding-top: 0;

    .homepage-section {
      h4 {
        font-size: 14px;
      }
    }
  }

  .projects-preview {
    padding-top: 20px;

    .projects-preview-header {
      h2 {
        font-size: 22px;
      }
    }
  }

  .projects-preview_carousel {
    .owl-carousel {
      .item {
        div.item-image {
          padding: 30px;
        }

        div.item-buttons {
          padding: 0 50px;

          a.button-success,
          div.item-buttons_right {
            float: none;
            display: block;
            width: 100%;
          }

          a.button-success {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// medium
@include breakpoint(medium only) {
  .homepage-sections {
    .columns {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .projects-preview_carousel {
    .owl-carousel {
      .item {
        div.item-buttons {
          padding: 0 50px;

          a.button-success,
          div.item-buttons_right {
            float: none;
            display: block;
            width: 100%;
          }

          a.button-success {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// large
@include breakpoint(large) {
  .projects-preview_carousel {
    margin-bottom: 30px;
  }
}

.homepage__unsusbcribe{
  margin: 80px 0;
}