<!-- banner top -->
<app-banner section="home" *ngIf="!unsuscribe"></app-banner>

<div class="homepage" *ngIf="!unsuscribe">
  <!-- homepage-sections -->
  <div class="homepage-sections">
    <div class="row">
      <div class="columns small-6 medium-6 large-3">
        <div class="homepage-section">
          <h4>¿Qué es<br>Eres Impulso?</h4>
          <a href="/que-es-eresimpulso" title="¿Que es Eres Impulso?" target="_self">
            <img class="img-responsive-max" src="./assets/images/home/font-vella.png" alt="¿Que es Eres Impulso?">
          </a>
        </div>
      </div>
      <div class="columns small-6 medium-6 large-3">
        <div class="homepage-section">
          <h4>Descubre<br>todos los proyectos</h4>
          <a href="/proyectos" title="Descubre todos los proyectos" target="_self">
            <img class="img-responsive-max" src="./assets/images/home/descubre.png" alt="Descubre todos los proyectos">
          </a>
        </div>
      </div>
      <div class="clearfix hide-for-large"></div>
      <div class="columns small-6 medium-6 large-3">
        <div class="homepage-section">
          <h4>Inspírate con artículos,<br>charlas y vídeos</h4>
          <a href="/inspirate" title="Inspirate con artículos, charlas y vídeos" target="_self">
            <img class="img-responsive-max" src="./assets/images/home/inspira.png" alt="Inspírate con artículos, charlas y vídeos">
          </a>
        </div>
      </div>

      <div class="columns small-6 medium-6 large-3">
        <div class="homepage-section">
          <h4>Te ayudamos<br>a crear tu proyecto</h4>
          <a href="/te-asesoramos" title="Te ayudamos a crear tu proyecto" target="_self">
            <img class="img-responsive-max" src="./assets/images/home/ayuda.png" alt="Te ayudamos a crear tu proyecto">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- / homepage-sections -->

  <!-- projects-preview -->
  <!-- <div class="projects-preview">
    <div class="row">
      <div class="small-12 column">
        <div class="projects-preview-header">
          <span class="icon-escudo"><span class="path1"></span><span class="path2"></span></span>

          <br>
          <h2>Vota el <strong>proyecto</strong> que más te guste</h2>
        </div>
      </div>
    </div>-->

    <!-- owl carousel -->
    <!--<div class="row">
      <div class="small-12 column">
        <div class="projects-preview_carousel">

          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="item-image item-image__proyecto-1">
                //<img class="img-responsive-max img-circle" src="./assets/images/home/proyecto-1.png" alt="">
              </div>

              <h4>Título del proyecto: proyecto Nº1</h4>

              <h5>Nombre apellido</h5>

              <div class="item-buttons">
                <a href="#" class="button button-success">votar</a>

                <div class="item-buttons_right">
                  <span class="item-buttons_right_share">Comp&aacute;rtelo&nbsp;</span>

                  <a href="#">
                    <span class="icon-circle hide-for-large"></span>
                  </a>

                  <a href="#">
                    <span class="icon-facebook"></span>
                  </a>

                  <a href="#">
                    <span class="icon-tw"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="item-image item-image__proyecto-2">
                //<img class="img-responsive-max img-circle" src="./assets/images/home/proyecto-2.png" alt="">
              </div>

              <h4>Título del proyecto: proyecto Nº2</h4>

              <h5>Nombre apellido</h5>

              <div class="item-buttons">
                <a href="#" class="button button-success">votar</a>

                <div class="item-buttons_right">
                  <span class="item-buttons_right_share">Comp&aacute;rtelo&nbsp;</span>

                  <a href="#">
                    <span class="icon-circle hide-for-large"></span>
                  </a>

                  <a href="#">
                    <span class="icon-facebook"></span>
                  </a>

                  <a href="#">
                    <span class="icon-tw"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="item-image item-image__proyecto-3">
                //<img class="img-responsive-max img-circle" src="./assets/images/home/proyecto-3.png" alt="">
              </div>

              <h4>Título del proyecto: proyecto Nº3</h4>

              <h5>Nombre apellido</h5>

              <div class="item-buttons">
                <a href="#" class="button button-success">votar</a>

                <div class="item-buttons_right">
                  <span class="item-buttons_right_share">Comp&aacute;rtelo&nbsp;</span>

                  <a href="#">
                    <span class="icon-circle hide-for-large"></span>
                  </a>

                  <a href="#">
                    <span class="icon-facebook"></span>
                  </a>

                  <a href="#">
                    <span class="icon-tw"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- / owl carousel -->

    <!--<div class="text-center">
      <a class="projects-preview_link" routerLink="/proyectos">
        Ver todos los proyectos
        &nbsp;
        <span class="icon-arrow"></span>
      </a>
    </div>
  </div>-->
  <!-- / projects-preview -->

  <!-- shortcuts -->
  <div class="shortcuts">
    <div class="row">
      <div class="columns small-12">
        <h2 class="shorcut__title">También puede interesarte</h2>
      </div>
    </div>

    <div class="row">
      <div class="shortcut__columns columns small-6 medium-3 large-3">
        <a href="/que-es-eresimpulso#calendario" title="Calendario" class="shortcuts__link" target="_self">
          <img class="shortcuts__img img-responsive-center" src="./assets/images/home/calendario.png" alt="">
          <!--<div class="shortcuts__icon">
            <span class="icon-calendar"></span>
          </div>          -->
          <div class="text-center">
            <div class="shortcuts__text">
              Calendario
            </div>

            <span class="icon-arrow"></span>
          </div>
        </a>
      </div>

      <div class="shortcut__columns columns small-6 medium-3 large-3">
        <a href="/que-es-eresimpulso#jurado" title="Jurado" class="shortcuts__link" target="_self">
          <img class="shortcuts__img img-responsive-center" src="./assets/images/home/jurado.png" alt="">
          <!--<div class="shortcuts__icon">
            <span class="icon-jurado"></span>
          </div>-->
          <div class="text-center">
            <div class="shortcuts__text">
              Jurado
            </div>

            <span class="icon-arrow"></span>
          </div>
        </a>
      </div>

      <div class="shortcut__columns columns small-6 medium-3 large-3">
        <a routerLink="faqs" class="shortcuts__link">
          <img class="shortcuts__img img-responsive-center" src="./assets/images/home/faqs.png" alt="">

          <!--<div class="shortcuts__icon">
            <span class="icon-faq"></span>
          </div>-->

          <div class="text-center">
            <div class="shortcuts__text">
              FAQ'S
            </div>

            <span class="icon-arrow"></span>
          </div>
        </a>
      </div>

      <div class="shortcut__columns columns small-6 medium-3 large-3">
        <a routerLink="ediciones-anteriores" class="shortcuts__link">
          <img class="shortcuts__img img-responsive-center" src="./assets/images/home/finalistas.png" alt="">

          <!--<div class="shortcuts__icon">
            <span class="icon-finalistas"></span>
          </div>-->

          <div class="text-center">
            <div class="shortcuts__text">
              Finalistas anteriores
            </div>

            <span class="icon-arrow"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- / shortcuts -->
</div>

<!-- banner bottom -->
<app-banner section="homeBottom" *ngIf="!unsuscribe"></app-banner>

<div class="homepage__unsusbcribe" *ngIf="unsuscribe">
  <session-header
  [title]="'SOLICITUD DE BAJA REALIZADA'"
  [description]="'Acabamos de darte de baja de Eres Impulso.<br/>¡Muchas gracias!'"
  ></session-header>
</div>