<div class="inspire-item inspire-item__{{ item.type }}">
    <div class="inspire-item__icon">
        <span [class]="getIcon()"></span>
    </div>

    <h3>{{ title }}</h3>

    <div class="inspire-item__see" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        <div class="inspire-item__see__content">
            <h4>{{ item.author }}</h4>

            <h5>{{ item.source }}</h5>

            <a *ngIf="item.url !== '' && item.video === ''" href="{{ item.url }}" class="button button-success" target="_blank">
                ver más
            </a>
            
            <button class="button button-success" *ngIf="item.url === '' && item.video !== ''" (click)="openModal()" data-open="app-modal">
                ver más
            </button>
        </div>

        <div class="inspire-item__see__shape"></div>
    </div>

    <div class="inspire-item__tag">
        <span class="icon-label"></span>        
        {{ item.name }}
    </div>
</div>
