/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

/* INSPÍRATE */
@import '../../../../../assets/scss/common';

div.inspire-item {  
    margin: 0 0 30px 0;

    .active,
    &:hover {
      h3 {
        color: $a-color;
      }

      .inspire-item__see__content {
        opacity: 1;
      }

      .inspire-item__see__shape {
        opacity: 0.7;
      }
    }

    &__icon {
      margin-bottom: 8px;

      font-size: 30px;
    }

    h3 {
      @include text($font-title, 22px, 400, normal, $color, left, uppercase, 110%);
      height: 60px;
      margin-bottom: 10px;
      // padding-bottom: 10px;

      border-bottom: 1px solid $color;      
    }

    &__see {
      position: relative;

      text-align: center;
      // background: url("http://lorempixel.com/400/300/") no-repeat;
      @include background-cover;

      &__content {
        position: relative;
        height: 235px;
        padding: 60px;

        opacity: 0;
        z-index: 99;

        h4 {
          @include text($font-title, 20px, 400, normal, $color-ffffff, center, uppercase, 100%);
        }

        h5 {
          @include text($font-base, 16px, 400, normal, $primary-color, center, capitalize, 100%);
        }

        .button {
          margin: 20px 0 0 0;
        }
      }

      &__shape {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;

        background-color: #000;
        opacity: 0;
        z-index: 98;
      }
    }

    &__tag {
      padding: 8px 0;

      font-size: 14px;
      color: $color-7ac6d5;
      overflow: hidden;

      span.icon-label {
        float: left;
        padding-right: 5px;

        font-size: 24px;
        color: $color;
      }
    }
  
}

// small
@include breakpoint(small only) {
  div.inspire-item {    
      cursor: pointer;

      h3 {
        font-size: 18px;
      }

      &__tag {
        font-size: 12px;

        span.icon-label {
          font-size: 20px;
        }
      }

    &__see {
      &__content {
        height: 150px;
        padding: 40px 10px;   

        h4 {
          font-size: 16px;
        } 

        h5 {
          font-size: 14px;
        } 

        .button {
          margin-top: 5px;

          font-size: 14px;
        }   
      }
    }    
  }
}

// medium
@include breakpoint(medium only) {
  div.inspire-item {    
    cursor: pointer;    
  }
}
