<app-banner section="projectFinalistasHeader"></app-banner>
<finalistas-navigation [navs]="navs" [action]="setYear"></finalistas-navigation>

<div class="finalistas-list">
  <!-- Ganadoras -->
  <div class="row">
    <div class="columns small-12">
      <h2 class="text-center">Ganadoras</h2>
    </div>

    <!-- item repeat -->
    <div class="year year__2015">
      <div *ngFor="let item of ganadoras2015 | orderList:field:direction; last as isLast">
        <div class="columns small-12 medium-12 large-6" [ngClass]="{end: isLast}">
          <project-item [item]="item"></project-item>
        </div>
      </div>      
    </div>    
    <!-- / item repeat -->

    <!-- item repeat -->
    <div class="year year__2016">
      <div *ngFor="let item of ganadoras2016 | orderList:field:direction; last as isLast">
        <div class="columns small-12 medium-12 large-6" [ngClass]="{end: isLast}">
          <project-item [item]="item"></project-item>
        </div>
      </div>      
    </div>
    <!-- / item repeat -->
  </div>
  <!-- / Ganadoras -->

  <!-- Finalistas -->
  <div class="row">
    <div class="columns small-12">
      <h2 class="text-center">Finalistas</h2>
    </div>

    <!-- item repeat -->
    <div class="year year__2015">
      <div *ngFor="let item of finalistas2015 | orderList:field:direction; last as isLast">
        <div class="columns small-12 medium-12 large-4" [ngClass]="{end: isLast}">
          <project-item [item]="item"></project-item>
        </div>
      </div>      
    </div>
    <!-- / item repeat -->

    <!-- item repeat -->
    <div class="year year__2016">
      <div *ngFor="let item of finalistas2016 | orderList:field:direction; last as isLast">
        <div class="columns small-12 medium-12 large-4" [ngClass]="{end: isLast}">
          <project-item [item]="item"></project-item>
        </div>
      </div>      
    </div>
    <!-- / item repeat -->
  </div>
  <!-- / Finalistas -->
</div>

<app-banner section="projectBottom"></app-banner>
