@import '../../../assets/scss/common';

.login {
  padding: 40px 0;

  background-color: $color-f5f5f5;

  .login-form {
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid $color-e1e1e1;

    &__content {
      margin-bottom: 15px;
    }

    &__buttons {
      padding: 20px 0;

      .button {
        margin: 0;
      }
    }

    &__recuerdame {
      min-width: 140px;

      label {
        margin-right: 0;
      }
    }

    a.forgot-password {
      @include text($font-base, $font-size, 400, italic, $a-color);
      @include link($a-color, $a-color, underline, underline);
    }
  }

  &__not-already {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $color-e1e1e1;

    &__button {
      text-align: right;
    }
  }
}

// small
@include breakpoint(small only) {
  .login {
    .login-form {
      &__buttons {
        text-align: center;
      }

      a.forgot-password {
        font-size: 12px;
      }
    }

    &__not-already {
      text-align: center;

      &__button {
        text-align: center;
      }
    }
  }
}

// medium
@include breakpoint(medium only) {
  .login {
    .login-form {
      a.forgot-password {
        font-size: 14px;
      }
    }
  }
}

.register{
  &__session-header {
    &__icon {
      &__ok {
        margin: 20px 0;

        font-size: 40px;
        text-align: center;
        color: $success-color;
      }

      &__ko {
        margin: 20px 0;

        font-size: 40px;
        text-align: center;
        color: $error-color;
      }
    }
    &__lost-email {
      margin-bottom: 20px;
      text-align: center;

      a {
        @include link($a-color, $a-color, underline, underline);
      }
    }
  }

}