<!-- login -->
<div class="login">
  <div class="row" [hidden]="notConfirmed">
    <div class="columns small-12 medium-7 medium-offset-2 large-5 large-offset-3 end">

      <session-header [title]="'iniciar sesión'" [description]="'¡Bienvenida a Eres Impulso! Introduce tus datos para iniciar tu sesión.'"></session-header>

      <login-form
      (onNotConfirmed)="onNotConfirmed($event)"></login-form>

      <div class="login__not-already">
        <div class="row">
          <div class="columns small-12 medium-7 large-6">
            <p>¿Aún no tienes cuenta?</p>
          </div>

          <div class="columns small-12 medium-5 large-6">
            <div class="login__not-already__button">
              <a class="button button-transparent" routerLink="/registro">Regístrate</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end login -->


<!-- KO -->
<div class="register">
  <div class="row" *ngIf="notConfirmed">
    <div class="small-12 medium-10 medium-offset-1 large-6 large-offset-3">
      <div class="register__session-header__icon__ko text-center">
        <span class="icon-incorrecto"></span>
      </div>

      <session-header [title]="'Aún no has confirmado tu registro'" [description]="'Accede al email de confirmación que te mandamos cuando te registraste y haz click en el link que contiene.<br/>¡Es un minuto!'"></session-header>
    </div>
    <div class="small-12 medium-10 medium-offset-1 large-6 large-offset-3 register__session-header__lost-email">¿No encuentras el email? <a href="#">Te lo volvemos a enviar</a></div>
  </div>
</div>
<!-- end KO -->