@import '../../../../assets/scss/common';

.pagination-top {
    margin-top: 50px;    
}

.pagination-bottom {
    margin-bottom: 50px;    
}

// .project-list {
//      div.columns {
//          &:nth-child(2n + 1){            
//              clear: both;             
//          }
//      }
// }

.no-projects {
    padding: 105px 0;
    text-align: center;

    h1 {
        margin-bottom: 30px;

        font-size: 38px;
        font-weight: 300;

        span {
            color: $color-8e8e8e;
        }
    }

    a.button {

    }
}

/* project pagination */
div.project__pagination {
    @include text($font-base, 12px, 400, normal, $color-404040, left, none, 100%);
    // padding-bottom: 10px;

    div.input-group {
        margin: 0;

        span.input-group-label {
            padding: 0;

            background-color: transparent;
            border: 0;
        }

        select.input-group-field {
            width: 20%;
            height: auto;
            margin-left: 5px;

            font-size: 12px;
            border: 1px solid $color-e0e0e0;
        }
    }

    ul.pagination {
        li {
            font-size: 12px;            

            &.disabled {
                padding: 0;
                color: $color-383838;

                a {
                    @include link ($color, $color, none, none, transparent, transparent);
                    padding: 5px;
                }                    
            }

            &.active {
                a {
                    @include link ($color-ffffff, $color-ffffff, none, none, $primary-color, $primary-color);
                }
            }

            a {
                @include link ($color, $color-ffffff, none, none, transparent, $primary-color);
                padding: 2px 9px;

                &:after,
                &:before {
                    display: none;
                }

                &.project__pagination_link_move {
                    @include link ($color, $color, none, none, transparent, transparent);
                }
            }       

        }
    }
}
/* end project pagination */

.link__see-more {
  @include text($font-title, 22px, 300, normal, $color, center, uppercase, 100%);
  margin: 20px 0 80px 0;

  text-align: center;

  &__text {
    margin-bottom: 10px;
  }

  button {
    @include link($a-color, $a-color, none, none);

    span.icon-arrow_down {
      font-size: 46px;
    }
  }
}