<app-banner section="projectListHeader"></app-banner>

<div class="pagination-top show-for-large">

  <!-- componente pagination -->
<div class="project__pagination">
  <div class="row">
    <div class="columns small-6">

      <!-- este select lo que hace es actualizar el limit -->
      <!--<div class="input-group">
        <span class="input-group-label">Resultados por páginas</span>

        <select class="input-group-field">
          <option value="5">5</option>
          <option value="5">10</option>
          <option value="5">15</option>
          <option value="5">20</option>
        </select>
      </div>-->
    </div>

    <div class="columns small-6">

      <div class="text-right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination" role="navigation" aria-label="Paginador de proyectos">
          <li [ngClass]="{hide:pager.currentPage === 1}">
            <a (click)="setPage(1)" class="project__pagination_link_move">Primera</a>
          </li>
          
          <li [ngClass]="{hide:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)" class="project__pagination_link_move">Anterior</a>
          </li>

          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          
          <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)" class="project__pagination_link_move">Siguiente</a>
          </li>
          
          <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)" class="project__pagination_link_move">Último</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- componente pagination -->
  
</div>

<!-- projects list -->
<div class="project-list">
  <div class="row" *ngIf="projects.length">
    <!-- item repeat -->
    <div *ngFor="let item of projects | orderList:field:direction; let i = index; last as isLast">
      <div class="columns small-12 medium-12 large-6" [ngClass]="{end: isLast}">
        <project-item [item]="item"></project-item>
      </div>    
    </div>    
    <!-- / item repeat -->
  </div>

  <div class="row" *ngIf="!projects.length">
    <div class="small-12 columns">
      <div class="no-projects">
        <h1>
          Aún no hay creado ningún proyecto
          <br>
          <span class="icon-en_espera"></span>
        </h1>
        
        <h2>¡sube tu proyecto!</h2>
      </div>      
    </div>
  </div>
</div>
<!-- / projects list -->

<div class="pagination-bottom show-for-large">
  <!--<project-pagination *ngIf="projects.length"></project-pagination>-->
    <!-- componente pagination -->
<div class="project__pagination">
  <div class="row">
    <div class="columns small-6">

      <!-- este select lo que hace es actualizar el limit -->
      <!--<div class="input-group">
        <span class="input-group-label">Resultados por páginas</span>

        <select class="input-group-field">
          <option value="5">5</option>
          <option value="5">10</option>
          <option value="5">15</option>
          <option value="5">20</option>
        </select>
      </div>-->
    </div>

    <div class="columns small-6">

      <div class="text-right">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination" role="navigation" aria-label="Paginador de proyectos">
          <li [ngClass]="{hide: pager.currentPage === 1}">
            <a (click)="setPage(1)" class="project__pagination_link_move">Primera</a>
          </li>
          
          <li [ngClass]="{hide: pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)" class="project__pagination_link_move">Anterior</a>
          </li>

          <li *ngFor="let page of pager.pages" [ngClass]="{active: pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          
          <li [ngClass]="{hide: pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)" class="project__pagination_link_move">Siguiente</a>
          </li>
          
          <li [ngClass]="{hide: pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)" class="project__pagination_link_move">Último</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- componente pagination -->
</div>

<div class="link__see-more hide-for-large" *ngIf="(pager.currentPage !== pager.totalPages) && projects.length">
  <div class="row">
    <div class="columns small-12">
      <div class="link__see-more__text">
        ver más proyectos
      </div>

      <button type="button" (click)="setPageMobile(pager.currentPage + 1)">
        <span class="icon-arrow_down"></span>
      </button>      
    </div>
  </div>
</div>


<!--<link-see-more [title]="'ver más proyectos'" class="hide-for-large" *ngIf="pager.currentPage !== pager.totalPages" [action]="setPageMobile"></link-see-more>-->
<app-banner section="projectBottom"></app-banner>
