<!-- PROJECT TAB -->
<form [hidden]="tab!=='project'" class="project row" name="projectForm" [formGroup]="projectForm" (ngSubmit)="onSubmit()" [hidden]="step == 3">
  <div class="form-step form-step__step-1 small-8 small-offset-2">
    <div formGroupName="step1">
      <div class="row">
        <fieldset class="small-12 text-center" [ngClass]="{'error':formErrors.name}">
          <label for="title">1. Nombre del proyecto</label>
          <input type="text" name="name" id="name" formControlName="name" />
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="small-12 text-center" [ngClass]="{'error':formErrors.description}">
          <label for="description">2. Explica brevemente tu propuesta</label>
          <textarea name="description" id="description" formControlName="description" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step1.description').value.length }}</span> carácteres</div>
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="columns small-6 text-center" [ngClass]="{'error':formErrors.profile_image}">
          <label for="profile_image">3. Sube una foto tuya</label>
          <small>(debe medir 200x200px mín.)</small>
          <input type="text" name="profile_image" id="profile_image" formControlName="profile_image" class="hide" />
          <image-upload
            [max]="1"
            [buttonCaption]="''"
            [dropBoxMessage]="''"
            [url]="uploadImageUrl"
            (onFileUploadFinish)="imageUploaded($event,'step1.profile_image')"
            (onRemove)="imageRemoved($event,'step1.profile_image')"
          ></image-upload>
          <!--
            [headers]="[
              {header: 'Authorization', value: 'MyToken'}
            ]"
            (onFileUploadFinish)="imageUploaded($event)"
            (onRemove)="imageRemoved($event)"
            (isPending)="disableSendButton($event)"
            -->
        </fieldset>
        <fieldset class="columns small-6 text-center" [ngClass]="{'error':formErrors.main_image}">
          <label for="main_image">4. Sube la portada del proyecto</label>
          <small>(debe medir 450x350px mín.)</small>
          <input type="text" name="main_image" id="main_image" formControlName="main_image" class="hide" />
          <image-upload
            [max]="1"
            [buttonCaption]="''"
            [dropBoxMessage]="''"
            [url]="uploadImageUrl"
            (onFileUploadFinish)="imageUploaded($event,'step1.main_image')"
            (onRemove)="imageRemoved($event,'step1.main_image')"
          ></image-upload>
        </fieldset>
      </div>
      <div class="row">
        <div class="columns small-12 text-center">
          <label>5. Puedes subir hasta 3 fotos más</label>
        </div>
        <fieldset class="columns small-4 text-center">
          <input type="text" name="images[1]" id="images[1]" formControlName="additional_image1" class="hide" />
          <image-upload
            [max]="1"
            [buttonCaption]="''"
            [dropBoxMessage]="''"
            [url]="uploadImageUrl"
            (onFileUploadFinish)="imageUploaded($event,'step1.additional_image1')"
            (onRemove)="imageRemoved($event,'step1.additional_image1')"
          ></image-upload>
        </fieldset>
        <fieldset class="columns small-4 text-center">
          <input type="text" name="images[2]" id="images[2]" formControlName="additional_image2" class="hide" />
          <image-upload
            [max]="1"
            [buttonCaption]="''"
            [dropBoxMessage]="''"
            [url]="uploadImageUrl"
            (onFileUploadFinish)="imageUploaded($event,'step1.additional_image2')"
            (onRemove)="imageRemoved($event,'step1.additional_image2')"
          ></image-upload>
        </fieldset>
        <fieldset class="columns small-4 text-center">
          <input type="text" name="images[3]" id="images[3]" formControlName="additional_image3" class="hide" />
          <image-upload
            [max]="1"
            [buttonCaption]="''"
            [dropBoxMessage]="''"
            [url]="uploadImageUrl"
            (onFileUploadFinish)="imageUploaded($event,'step1.additional_image3')"
            (onRemove)="imageRemoved($event,'step1.additional_image3')"
          ></image-upload>
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="small-12 text-center">
          <label for="title">6. Web de tu proyecto</label>
          <small>(no es obligatorio)</small>
          <input type="text" name="web" id="web" formControlName="web" placeholder="Copia aquí la URL" />
        </fieldset>
      </div>
      <div class="row">
        <div class="small-12 text-center">
          <button type="button" class="button">Guardar borrador</button>
          <input type="submit" class="button" [disabled]="!projectForm.valid" value="Enviar" />
          <button type="button" class="button" (click)="nextStep()">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-step form-step__step-2 small-8 small-offset-2">
    <div formGroupName="step2">
      <div class="row">
        <div class="small-12 text-center">
          <label>1. Cuéntanos tu proyecto</label>
        </div>
        <div class="columns small-4 text-center">
          <label>Descarga</label>
          <div class="circle"></div>
          <small>Descárgate los materiales de apoyo que hemos preparado.</small>
        </div>
        <div class="columns small-4 text-center">
          <label>Lee</label>
          <div class="circle"></div>
          <small>Haz una primera lectura para tener una idea general del contenido.</small>
        </div>
        <div class="columns small-4 text-center">
          <label>Responde</label>
          <div class="circle"></div>
          <small>No tienes que responder a todas las preguntas de una vez, pero no olvides guardar el borrador antes de salir.</small>
        </div>
      </div>
      <div class="row">
        <div class="small-12 text-center">
          <a class="button" href="#">Descargar guía</a>
          <a class="button" href="#">Descargar lecturas<br/>y materiales</a>
        </div>
      </div>
      <div class="row questions">
        <div class="small-12 text-center">
          <label>2. Responde a las preguntas</label>
        </div>
        <fieldset class="questions__item small-12" [hidden]="question!=1">
          <label for="explanation">Describe el problema social sobre el cual trabaja tu proyecto, las personas a las que va dirigido y de qué manera esperas incidir positivamente sobre ambos a través de tu propuesta.</label>
          <textarea name="explanation" id="explanation" formControlName="explanation" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.explanation').value.length }}</span> carácteres</div>
        </fieldset>
        <fieldset class="questions__item small-12" [hidden]="question!=2">
          <label for="model_business">Describe el modelo de negocio de tu proyecto y su viabilidad.</label>
          <textarea name="model_business" id="model_business" formControlName="model_business" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.model_business').value.length }}</span> carácteres</div>
        </fieldset>
        <fieldset class="questions__item small-12" [hidden]="question!=3">
          <label for="team_description">Presenta brevemente al equipo que emprende o lidera el proyecto: ¿quiénes sois y cuáles son vuestras motivaciones?</label>
          <textarea name="team_description" id="team_description" formControlName="team_description" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.team_description').value.length }}</span> carácteres</div>
        </fieldset>
        <fieldset class="questions__item small-12" [hidden]="question!=4">
          <label for="calendar">Plantea y calendariza los principales objetivos de tu proyecto en el primer año.</label>
          <textarea name="calendar" id="calendar" formControlName="calendar" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.calendar').value.length }}</span> carácteres</div>
        </fieldset>
        <fieldset class="questions__item small-12" [hidden]="question!=5">
          <label for="need_economic">Detalla y presupuesta los recursos que necesitas para desarrollar tu proyecto el primer año.</label>
          <textarea name="need_economic" id="need_economic" formControlName="need_economic" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.need_economic').value.length }}</span> carácteres</div>
        </fieldset>
        <fieldset class="questions__item small-12" [hidden]="question!=6">
          <label for="info_extra">Prepara un vídeo pitch de menos de 2 minutos de duración explicando las ideas claves de tu proyecto.</label>
          <textarea name="info_extra" id="info_extra" formControlName="info_extra" placeholder="Escribe aquí..."></textarea>
          <div class="text-right"><span>{{ 1024 - projectForm.get('step2.info_extra').value.length }}</span> carácteres</div>
        </fieldset>
      </div>
      <div class="row">
        <div class="small-12 text-center">
          <ul class="pager">
            <li class="pager__item" (click)="gotToQuestion(question-1)">Anterior</li>
            <li *ngFor="let i of questions" class="dot pager__item" [ngClass]="{'pager__item--active': question==i}" (click)="gotToQuestion(i)" >{{ i }}</li>
            <li class="pager__item" (click)="gotToQuestion(question+1)">Siguiente</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-12 text-center">
          <button type="button" class="button" (click)="backStep()">Volver</button>
          <input type="submit" class="button" value="Enviar" [disabled]="!projectForm.valid">
          <button type="button" class="button" (click)="saveDraft()">Guardar borrador</button>
        </div>
      </div>
    </div>
  </div>
</form>
