<!-- USER AREA NAVIGATION -->
<div class="user-area-navigation">
  <div class="row">
    <div class="small-10 small-offset-1 medium-12 large-8 large-offset-2">
      <h1>Área de usuario</h1>

      <p class="user-area-navigation__text">
        Tu espacio personal dentro de Eres Impulso, para que puedas gestionar tus datos personales y tu proyecto siempre que quieras.
      </p>

      <div class="row">
        <div class="small-4 columns">
          <div class="user-area-navigation__image" (click)="tab='perfil'" [ngClass]="{'active':tab==='perfil'}">
            <span class="icon icon-profile"></span>
          </div>
          <h4>Datos personales</h4>
        </div>
        <div class="small-4 columns">
          <div class="user-area-navigation__image" (click)="tab='proyecto'" [ngClass]="{'active':tab==='proyecto'}">
            <span class="icon icon-mi_proyecto"></span>
          </div>
          <h4>Mi proyecto</h4>
        </div>

        <div class="small-4 columns">
          <div class="user-area-navigation__image"  (click)="tab='eliminar'" [ngClass]="{'active':tab==='eliminar'}" [hidden]="!projectForm">
            <span class="icon icon-eliminar"></span>
          </div>
          <h4 [hidden]="!projectForm">Eliminar proyecto</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 medium-12 large-8 large-offset-2">
      <validation-message *ngIf="project.status=='Aprobado' || project.status=='Validado' && tab=='proyecto'"
        [title]="'¡Genial!'"
        [description]="'El jurado ha revisado tu proyecto<br/>ya ya se puede ver en la galería.'"
        [type]="'ua-ok'"
        [icon]="'icon-tick'"
      >
      </validation-message>
      <validation-message *ngIf="project.status=='Invalidado' && tab=='proyecto'"
        [title]="'Algo no cuadra'"
        [description]="'El jurado ha revisado tu proyecto y no cumple todos los requisitos.<br/>Te hemos enviado un emil detallando qué debes modificar para poder publicarlo.'"
        [type]="'ua-ko'"
        [icon]="'icon-incorrecto'"
      >
      </validation-message>
      <validation-message *ngIf="project.status=='Pendiente de Validación' && tab=='proyecto'"
        [title]="'Estamos en ello'"
        [description]="'Nuestro jurado aún está revisando tu proyecto.'"
        [type]="'ua-standby'"
        [icon]="'icon-en_espera'"
      >
      </validation-message>
    </div>
  </div>
</div>
<!-- end USER AREA NAVIGATION -->

<!-- PROFILE TAB -->
<div class="profile" [hidden]="tab!=='perfil'">
  <div class="row" >
    <!-- <div [hidden]="!profileMessages" class="small-4 small-offset-4 center validation-message validation-message--error">
      <div [innerHtml]="errorMessages"></div>
    </div> -->

    <div class="small-10 small-offset-1">
      <form class="profile__form" name="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="profileForm" [hidden]="confirmDeleteUser">
        <div class="row">
          <div class="columns small-12 medium-12 large-6">
            <fieldset [ngClass]="{'error':formErrors.name}">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" formControlName="name" value="{{user.name}}" />
              <span class="icon-nombre"></span>
            </fieldset>

            <fieldset [ngClass]="{'error':formErrors.email}">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" formControlName="email" email="true" value="{{user.email}}" />
              <span class="icon-mail"></span>
            </fieldset>

            <!-- <fieldset [ngClass]="{'error':formErrors.password || formErrors.confirm_password}">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" formControlName="password" value="{{user.password}}" />
              <span class="icon-contraseña"></span>
            </fieldset>
            <fieldset [ngClass]="{'error':formErrors.password || formErrors.confirm_password}">
              <label for="confirm_password">Repetir contraseña</label>
              <input type="password" name="confirm_password" id="confirm_password" formControlName="confirm_password" />
              <span class="icon-contraseña"></span>
            </fieldset>-->

          </div>

          <div class="columns small-12 medium-12 large-6">
            <fieldset [ngClass]="{'error':formErrors.phone}">
              <label for="phone">Teléfono</label>
              <input type="text" name="phone" id="phone" formControlName="phone" value="{{user.telephone}}" />
              <span class="icon-telefono"></span>
            </fieldset>

            <fieldset [ngClass]="{'error':formErrors.postal_code}">
              <label for="cp">CP</label>
              <input type="text" name="postal_code" id="cp" formControlName="postal_code" value="{{user.postal_code}}" />
              <span class="icon-cp"></span>
            </fieldset>

            <fieldset [ngClass]="{'error':formErrors.province}">
              <label for="province">Provincia</label>
              <select name="province" formControlName="province" id="province" value="{{user.province}}">
                <option value="">--</option>
                <option *ngFor="let p of provinces" value="{{p.id}}">{{ p.name }}</option>
              </select>
              <span class="icon-provincia"></span>
            </fieldset>
          </div>
        </div>

        <validation-message
          [hidden]="!profileSent"
          [description]="'Tu datos se han guardado satisfactoriamente.'"
        ></validation-message>

        <div class="row">
          <div class="columns small-12 text-center">
            <div class="profile__form__submit">
              <button type="button" class="button button-success" (click)="profileSubmit()">Guardar cambios</button>
              <p>Si quieres darte de baja del programa, <a (click)="this.confirmDeleteUser = true">haz clic aquí</a></p>
            </div>
          </div>
        </div>
        
      </form>

      <!-- CONFIRMACIÓN DE BAJA -->
      <div class="eliminar" [hidden]="!confirmDeleteUser">
        <div class="row">
          <div class="small-12 medium-12 large-8 large-offset-2 text-center">
            <session-header
              [title] = "'SOLCITUD DE BAJA'"
              [description] = "'¿Estás segura de que quieres darte de baja de Eres Impulso?'"
            >
            </session-header>
            <button (click)="profileDelete()" class="button button-error large" >Si</button>
            <a (click)="confirmDeleteUser=false" class="button button-success large" >No</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- project form -->
<div class="project-form" [hidden]="tab!=='proyecto'">
  <div *ngIf="projectForm" >
    <form class="row" name="projectForm" [formGroup]="projectForm"  [hidden]="projectValidate" >
      <div class="small-12 medium-12 large-8 large-offset-2">
        <!-- step 1 -->
        <div>
          <div>
            <!-- step 1-1 -->
            <div class="row">
              <fieldset class="project-form__step project-form__step1-1 small-12 columns" [ngClass]="{'error':projectFormErrors.name}">
                <label for="title">
                  1. Nombre del proyecto
                  <br>
                  <small>(máximo 40 caracteres)</small>
                </label>
                <input type="text" name="name" id="name" formControlName="name" placeholder="Escribe aquí..." maxlength="40" [readonly]="isReadonly ? 'readonly' : null">
              </fieldset>
            </div>

            <!-- step 1-2 -->
            <div class="row">
              <fieldset class="project-form__step project-form__step1-2 small-12 columns" [ngClass]="{'error':projectFormErrors.description}">
                <label for="description">
                  2. Explica brevemente tu propuesta
                  <br>
                  <small>(máximo 300 caracteres)</small>
                </label>

                <textarea name="description" id="description" formControlName="description" placeholder="Escribe aquí..." rows="10" maxlength="300" [readonly]="isReadonly ? 'readonly' : null"></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('description').value.length }}</span> carácteres</div> -->
              </fieldset>
            </div>

            <div class="row">
              <!-- step 1-3 -->
              <fieldset class="project-form__step project-form__step1-3 columns small-12 medium-6 large-6 profile_image" [ngClass]="{'error':projectFormErrors.profile_image}">
                <label for="profile_image">
                  3. Sube una foto tuya
                  <br>
                  <small>(debe medir 200x200px mín.)</small>
                </label>
                <input type="text" name="profile_image" id="profile_image" formControlName="profile_image" class="hide"  [readonly]="isReadonly ? 'readonly' : null">
                <image-upload
                  [id]="'profile_image'"
                  [iconClass]="'icon-profile'"
                  [max]="1"
                  [buttonCaption]="''"
                  [dropBoxMessage]="''"
                  [url]="uploadImageUrl"
                  [withCredentials]="true"
                  (onFileUploadFinish)="imageUploaded($event,'profile_image')"
                  (onRemove)="imageRemoved($event,'profile_image')"
                  [defaultImage]="'images/projects/' + project.project_id + '/' + project.project_profile_image"
                ></image-upload>
              </fieldset>

              <!-- step 1-4 -->
              <fieldset class="project-form__step project-form__step1-4 columns small-12 medium-6 large-6 main_image" [ngClass]="{'error':projectFormErrors.main_image}">
                <label for="main_image">
                  4. Sube la portada del proyecto
                  <br>
                  <small>(debe medir 450x350px mín.)</small>
                </label>
                <input type="text" name="main_image" id="main_image" formControlName="main_image" class="hide" [readonly]="isReadonly ? 'readonly' : null">
                <image-upload
                  [id]="'main_image'"
                  [iconClass]="'icon-foto-portada'"
                  [max]="1"
                  [buttonCaption]="''"
                  [dropBoxMessage]="''"
                  [url]="uploadImageUrl"
                  [withCredentials]="true"
                  (onFileUploadFinish)="imageUploaded($event,'main_image')"
                  (onRemove)="imageRemoved($event,'main_image')"
                  [defaultImage]="'images/projects/' + project.project_id + '/' + project.project_main_image"
                ></image-upload>
              </fieldset>
            </div>

            <!-- step-1-5 -->
            <div class="project-form__step project-form__step1-5">
              <div class="row">
                <div class="columns small-12">
                  <label>5. Puedes subir hasta 3 fotos más</label>
                </div>

                <fieldset class="columns small-4 text-center">
                  <input type="text" name="images[1]" id="images[1]" formControlName="additional_image1" class="hide" [readonly]="isReadonly ? 'readonly' : null" />
                  <image-upload
                    [id]="'additional_image1'"
                    [iconClass]="'icon-foto'"
                    [max]="1"
                    [buttonCaption]="''"
                    [dropBoxMessage]="''"
                    [url]="uploadImageUrl"
                    [withCredentials]="true"
                    (onFileUploadFinish)="imageUploaded($event,'additional_image1')"
                    (onRemove)="imageRemoved($event,'additional_image1')"
                    [defaultImage]="'images/projects/' + project.project_id + '/' + project.project_additional_image1"
                  ></image-upload>
                </fieldset>

                <fieldset class="columns small-4 text-center">
                  <input type="text" name="images[2]" id="images[2]" formControlName="additional_image2" class="hide" [readonly]="isReadonly ? 'readonly' : null" />
                  <image-upload
                    [id]="'additional_image2'"
                    [iconClass]="'icon-foto'"
                    [max]="1"
                    [buttonCaption]="''"
                    [dropBoxMessage]="''"
                    [url]="uploadImageUrl"
                    [withCredentials]="true"
                    (onFileUploadFinish)="imageUploaded($event,'additional_image2')"
                    (onRemove)="imageRemoved($event,'additional_image2')"
                    [defaultImage]="'images/projects/' + project.project_id + '/' + project.project_additional_image2"
                  ></image-upload>
                </fieldset>

                <fieldset class="columns small-4 text-center">
                  <!--<img class="img-responsive-center img-circle" src="http://lorempixel.com/400/400/" alt="">-->
                  <input type="text" name="images[3]" id="images[3]" formControlName="additional_image3" class="hide" [readonly]="isReadonly ? 'readonly' : null" />
                  <image-upload
                    [id]="'additional_image3'"
                    [iconClass]="'icon-foto'"
                    [max]="1"
                    [buttonCaption]="''"
                    [dropBoxMessage]="''"
                    [url]="uploadImageUrl"
                    [withCredentials]="true"
                    (onFileUploadFinish)="imageUploaded($event,'additional_image3')"
                    (onRemove)="imageRemoved($event,'additional_image3')"
                    [defaultImage]="'images/projects/' + project.project_id + '/' + project.project_additional_image3"
                  ></image-upload>
                </fieldset>
              </div>
            </div>

            <!-- step-1-6 -->
            <div class="row">
              <fieldset class="project-form__step project-form__step1-6 columns small-12">
                <label for="title">
                  6. Web de tu proyecto
                  <br>
                  <small>(no es obligatorio)</small>
                </label>

                <input type="text" name="web" id="web" formControlName="web" placeholder="Copia aquí la URL" [readonly]="isReadonly ? 'readonly' : null" />
              </fieldset>
            </div>
          </div>
        </div>
        <!-- end step 1 -->

        <!-- step 2 -->
        <div>
          <div>
            <!-- step-2-1 -->
            <div class="project-form__step project-form__step2-1">
              <label>7. Cuéntanos tu proyecto</label>

              <div class="owl-carousel owl-theme">
                <div class="item">
                  <fieldset class="text-center">
                    <h4 class="project-form__step2-1__title">descarga</h4>

                    <div class="project-form__step2-1__image">
                      <span class="icon icon-descarga"></span>
                    </div>

                    <div class="project-form__step2-1__text">
                      <p>Descárgate los materiales de apoyo que hemos preparado.</p>
                    </div>
                  </fieldset>
                </div>

                <div class="item">
                  <fieldset class="text-center">
                    <h4 class="project-form__step2-1__title">lee</h4>

                    <div class="project-form__step2-1__image">
                      <span class="icon icon-lee"></span>
                    </div>

                    <div class="project-form__step2-1__text">
                      <p>Haz una primera lectura para tener una idea general del contenido.</p>
                    </div>
                  </fieldset>
                </div>

                <div class="item">
                  <fieldset class="text-center">
                    <h4 class="project-form__step2-1__title">responde</h4>

                    <div class="project-form__step2-1__image">
                      <span class="icon icon-responde"></span>
                    </div>

                    <div class="project-form__step2-1__text">
                      <p>No tienes que responder a todas las preguntas de una vez, pero no olvides guardar el borrador antes de salir.</p>
                    </div>
                  </fieldset>
                </div>
              </div>

              <!-- buttons -->
              <div class="project-form__buttons">
                <div class="button-group">
                  <a class="button button-success" target="_blank" href="/documents/Gui%CC%81a_para_rellenar_la_candidatura_Eres_Impulso_Segunda_Edicio%CC%81n.pdf">Descargar guía</a>
                  <a class="button button-success" target="_blank" href="te-asesoramos">Descargar lecturas<br/>y materiales</a>
                </div>
              </div>
            </div>

            <!-- step-2-2 -->
            <div class="project-form__step project-form__step2-2">
              <label>8. Responde a las preguntas</label>

              <fieldset class="questions__item" [hidden]="question!=1">
                <label for="explanation">Describe el problema social sobre el cual trabaja tu proyecto, las personas a las que va dirigido y de qué manera esperas incidir positivamente sobre ambos a través de tu propuesta.</label>

                <textarea name="explanation" id="explanation" formControlName="explanation" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.explanation').value.length }}</span> carácteres</div> -->
              </fieldset>

              <fieldset class="questions__item" [hidden]="question!=2">
                <label for="model_business">Describe el modelo de negocio de tu proyecto y su viabilidad.</label>
                <textarea name="model_business" id="model_business" formControlName="model_business" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.model_business').value.length }}</span> carácteres</div> -->
              </fieldset>

              <fieldset class="questions__item" [hidden]="question!=3">
                <label for="team_description">Presenta brevemente al equipo que emprende o lidera el proyecto: ¿quiénes sois y cuáles son vuestras motivaciones?</label>
                <textarea name="team_description" id="team_description" formControlName="team_description" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.team_description').value.length }}</span> carácteres</div> -->
              </fieldset>

              <fieldset class="questions__item" [hidden]="question!=4">
                <label for="calendar">Plantea y calendariza los principales objetivos de tu proyecto en el primer año.</label>
                <textarea name="calendar" id="calendar" formControlName="calendar" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.calendar').value.length }}</span> carácteres</div> -->
              </fieldset>

              <fieldset class="questions__item" [hidden]="question!=5">
                <label for="need_economic">Detalla y presupuesta los recursos que necesitas para desarrollar tu proyecto el primer año.</label>
                <textarea name="need_economic" id="need_economic" formControlName="need_economic" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.need_economic').value.length }}</span> carácteres</div> -->
              </fieldset>

              <fieldset class="questions__item" [hidden]="question!=6">
                <label for="info_extra">Prepara un vídeo pitch de menos de 2 minutos de duración explicando las ideas claves de tu proyecto.</label>
                <textarea name="info_extra" id="info_extra" formControlName="info_extra" placeholder="Escribe aquí..." rows="8"  [readonly]="isReadonly ? 'readonly' : null" ></textarea>
                <!-- <div class="text-right"><span>{{ 1024 - projectForm.get('step2.info_extra').value.length }}</span> carácteres</div> -->
              </fieldset>
            </div>

            <!-- pagination -->
            <div class="text-center">
              <ul class="pagination pagination-step2-2" role="navigation" aria-label="Pagination">
                <!--<li class="pagination-previous disabled" (click)="gotToQuestion(question-1)" ></li>-->
                <li [ngClass]="{'current': question==i}" *ngFor="let i of questions"><a [ngClass]="{'pager__item--active': question==i}" (click)="gotToQuestion(i)" >{{ i }}</a></li>
                <!--<li class="pagination-next"><a href="#" (click)="gotToQuestion(question+1)"></a></li>-->
              </ul>
            </div>
            <!-- pagination -->

            <validation-message
              [hidden]="!projectSent"
              [description]="'Tu proyecto se ha guardado satisfactoriamente.'"
            ></validation-message>

            <!-- buttons -->
            <div class="project-form__buttons">
              <div class="button-group">
                <input type="button" class="button button-success" value="Enviar" [disabled]="!projectForm.valid || isReadonly" (click)="saveProject(true)">
                <button type="button" class="button button-success" [disabled]="isReadonly" (click)="saveProject(false)">Guardar borrador</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div [hidden]="!projectValidate">
      <div class="row">
        <div class="columns small-12 medium-12 large-8 large-offset-2">
          <div class="project-form__step project-form__step3">
            <div class="project-form__step3__icon">
              <span class="icon-tick"></span>
            </div>
            <h2>¡Lo has hecho, te has lanzado!</h2>
            <p>Próximamente revisaremos toda la información adjunta para asegurarnos<br/>de que no falta nada. Este proceso de validación puede durar hasta una semana.</p>
            <p>Una vez finalizado nos pondremos en contacto contigo vía email,<br/>no le quites el ojo a tu bandeja de entrada.</p>
            <button (click)="projectValidate=false" class="button button-success large" >Ver mi proyecto</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!projectForm" class="small-12 medium-12 large-8 large-offset-2 text-center">
    <session-header
      [title] = "'Aún no has creado ningún proyecto'"
      [description] = "'Ahora es el mejor momento<br/>para empezar.'"
    >
    </session-header>
    <a routerLink="/sube-tu-proyecto" class="button button-success large" >Sube tu proyecto</a>
  </div>

</div>
<!-- end project form -->

<!-- PROFILE TAB -->
<div class="eliminar" [hidden]="tab!=='eliminar'">
  <div class="row">
    <div class="small-12 medium-12 large-8 large-offset-2 text-center">
      <session-header
        [title] = "'¿SEGURO QUE QUIERES ELIMINAR TU PROYECTO?'"
        [description] = "'Una vez eliminado no podrás volver acceder al proyecto.'"
      >
      </session-header>
      <button (click)="projectDelete()" class="button button-error large" >Si</button>
      <a routerLink="/area-personal/proyecto" class="button button-success large" >No</a>
    </div>
  </div>
</div>