@import '../../../assets/scss/common';

.user-area-navigation {
  padding: 40px 0 40px 0;

  text-align: center;
  background-color: $color-f5f5f5;
  border-bottom: 1px solid $color;

  h1 {
    font-size: 38px;
  }

  a {
    @include link($color, $color, none, none);
  }

  &__text {
    @include text($font-base, 22px, 400, normal, $color, center);
    margin-bottom: 40px;
  }

  &__image {
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 20px;
    position: relative;
    background-color: #fff;
    border: solid 1px $color-d4dfe2;

    &.active{
      background-color: $secondary-color;
    }

    .icon{
      position: absolute;
      color: #383838;
      font-size: 54px;
      height: 54px;
      width: 54px;
      top: 50%;
      left: 50%;
      margin-top: -27px;
      margin-left: -27px;
    }
  }

  h4 {
    font-size: 20px;
  }
}

// profile
.profile {
  &__form {
    padding: 80px 0 20px 0;

    &__submit {
      padding: 40px 0;

      p {
        font-size: 14px;

        a {
          @include link($a-color, $a-color, underline, underline);
        }
      }
    }
  }
}

/* project form */
.project-form {
  padding: 40px 0;
  // background-color: $color-f5f5f5;

  &__step {
    margin-bottom: 60px;

    label {
      @include text($font-title, 22px, 400, normal, $color, left, uppercase, 120%);
      padding-bottom: 30px;

      small {
        @include text($font-base, 16px, 400, normal, $color, left, none);
      }
    }

    img.img-circle {
      border: 0;
    }
  }

  &__step1-1,
  &__step1-2,
  &__step1-5,
  &__step1-6,
  &__step2-1,
  &__step2-2 {
    label {
      text-align: center;
    }
  }

  &__step1-1 {
    input {
      margin: 0;
    }
  }

  &__step1-2 {
    label {
      padding-bottom: 30px;
    }

    input {
      margin: 0;
    }
  }

  &__step1-6 {
    margin-bottom: 40px;
  }

  &__buttons {
    text-align: center;

    .button {
      width: 180px;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__step2-1 {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color;

    &__title {
      @include text($font-title, 22px, 400, normal, $color, center, uppercase, 120%);
    }

    &__image {
      margin-bottom: 20px;
    }

    &__text {
      p {
        line-height: 120%;

        &:last-child {
          margin: 0;
        }
      }
    }

    .owl-carousel {
      margin-bottom: 50px;
    }

    .project-form__buttons {
      .button {
        width: 200px;
        min-height: 60px;

        &:first-child {
          padding-top: 23px;
        }
      }
    }
  }

  &__step2-2 {
    margin-bottom: 20px;
    padding-bottom: 0;

    &__title {
      @include text($font-title, 22px, 400, normal, $color, center, uppercase, 120%);
    }

    fieldset.questions__item {
      label {
        @include text($font-base, $font-size + 2, 400, normal, $color, left, none, 120%);
        padding-bottom: 15px;
      }
    }
  }

  ul.pagination-step2-2 {
    padding: 10px 0 40px 0;

    li {
      margin-right: 5px;

      &.current {
        padding: 0;
        background: transparent;
        color: $color;

        a {
          @include link ($color, $color, none, none);
          border: 1px solid $color;
        }
      }

      a {
        @include link ($color-ffffff, $color-ffffff, none, none, $primary-color, $primary-color);
        width: 40px;
        height: 40px;
        line-height: 35px;

        font-size: 18px;
        border: 1px solid $a-color;
        border-radius: 50%;
      }
    }
  }

  &__step3 {
    margin-bottom: 60px;
    text-align: center;

    &__icon {
      margin-bottom: 20px;
      font-size: 40px;
      color: #3adb76;
    }

    h2 {
      @include text($font-title, 34px, 400, normal, $color, center, uppercase, 140%);
      margin-bottom: 20px;
    }

    p {
      @include text($font-base, 20px, 400, normal, $color, center, none, 140%);
    }
  }
}
/* end project form */

// small
@include breakpoint(small only) {
  .project-form {
    &__step1-2 {
      margin-bottom: 40px;
    }

    &__step1-3,
    &__step1-4 {
      label {
        text-align: center;
      }
    }

    &__step2-1 {
      .project-form__buttons {
        .button {
          width: 100%;
          min-height: auto;

          &:first-child {
            padding: 0.85em 1em;
          }
        }
      }
    }

    &__buttons {
      padding: 0 10%;
      text-align: center;

      .button {
        display: block;
        width: 100%;
        margin: 10px 0;
      }
    }

    ul.pagination-step2-2 {
      li {
        display: inline-block;

        a {
          width: 30px;
          height: 30px;
          line-height: 25px;

          font-size: 14px;
        }
      }
    }

    &__step3 {
      &__icon {
        font-size: 80px;
      }

      h2 {
        font-size: 38px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

// medium
@include breakpoint(medium only) {
  .user-area-navigation {
    padding: 30px 0;

    h1 {
      font-size: 32px;
    }

    &__text {
      font-size: 18px;
    }

    &__image {
      margin-bottom: 15px;
    }

    h4 {
      font-size: 18px;
    }
  }
}


.eliminar{
  margin: 20px 0;
  .button{
    margin: 0 10px;
  }
}

.project-form__step.project-form__step3{
  margin: 20px 0;
}