<!-- home header -->
<div *ngIf="section=='home'" class="banner banner--home-header">
  <div class="row banner__content">
    <div class="large-6 small-12 small-centered text-center">
      <h2 class="banner__title banner--home-header__title">Te<br/>Buscamos</h2>
      <div class="small-10 small-centered ">
      <h3 class="banner__subtitle banner--home-header__subtitle">En <i>Font Vella Eres Impulso</i> buscamos mujeres con ideas para cambiar el mundo.</h3>
        <div class="medium-6 small-12 columns"><a routerLink="/sube-tu-proyecto" class="button banner--home-header__button-left">Sube tu proyecto</a></div>
        <div class="medium-6 small-12 columns "><a routerLink="/proyectos" class="button banner--home-header__button-right">Ver todos los proyectos</a></div>
      </div>
    </div>
  </div>
</div>

<!-- Home Bottom -->
<div *ngIf="section=='homeBottom'" class="banner banner--home-bottom">
  <div class="row banner__content">
    <div class="large-8 small-11 small-centered text-center">
      <h2 class="banner__title banner--home-bottom__title">¿Conoces alguna mujer con ideas para <strong>cambiar el mundo?</strong></h2>
    </div>
    <div class="large-5 small-11 small-centered text-center">
      <h3 class="banner__subtitle banner--home-bottom__subtitle">Comparte con ella <strong>Eres Impulso</strong> y anímala a presentar su proyecto.</h3>
      <a href="{{fbMetaHome}}" class="banner--home-bottom__link"><span class="icon-facebook"></span></a>
      <a href="{{twMetaHome}}" class="banner--home-bottom__link"><span class="icon-tw"></span></a>
      <a href="{{ldnMetaHome}}" class="banner--home-bottom__link"><span class="icon-linkedin"></span></a>

      <!--
      <a href="#" class="banner&#45;&#45;home-bottom__link"><span class="icon-instagram"></span></a>
-->
    </div>
  </div>
</div>

<!-- Qué es eres Impulso header -->
<div *ngIf="section=='about'" class="banner banner--about-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--about-header__title">¿Qué es Eres Impulso?</h1>
      <h3  class="banner__subtitle banner--about-header__subtitle">Eres Impulso <strong>es una plataforma que te ayuda</strong> a impulsar tus ideas, para apoyar tus ganas de hacer que tu alrededor avance. El lugar perfecto para empezar una nueva y emocionante aventura y conseguir que tu proyecto, ese que nutre tus mayores sueños, avance con la misma fuerza que el agua.</h3>
    </div>
  </div>
</div>

<!-- Qué es Eres Impulso bottom, Proyectos bottom -->
<div *ngIf="section=='aboutBottom'">
  <div class="expanded row">
    <div class="banner banner--about-bottom--l columns large-6 small-12 bgcolor--secondary">
      <div class="large-7 large-offset-4 small-10 small-offset-1 banner__content">
        <h3 class="banner__title banner--about-bottom__title"><strong>¿Tienes una idea</strong><br/>y quieres impulsarla?</h3>
        <a routerLink="/sube-tu-proyecto" class="button button-success large">Sube tu proyecto</a>
      </div>
    </div>

    <div class="banner banner--about-bottom--r columns large-6 small-12 end">
      <div class="large-7 large-offset-1 small-10 small-offset-1 banner__content">
        <h3 class="banner__title banner--about-bottom__title">¿Conoces alguna<br/>mujer con ideas para<br/><strong>cambiar el mundo?</strong></h3>
        <h4 class="banner__subtitle banner--about-bottom__subtitle">Comparte con ella <strong>Eres Impulso</strong> y anímala a presentar su proyecto.</h4>
        <a href="{{fbMetaHome}}" class="banner--about-bottom__link"><span class="icon-facebook"></span></a>
        <a href="{{twMetaHome}}" class="banner--about-bottom__link"><span class="icon-tw"></span></a>
        <a href="{{ldnMetaHome}}" class="banner--home-bottom__link"><span class="icon-linkedin"></span></a>

        <!--
        <a href="https://www.instagram.com/aguafontvella/" class="banner&#45;&#45;about-bottom__link"><span class="icon-instagram"></span></a>
-->
      </div>
    </div>
  </div>
</div>

<!-- Qué es Eres Impulso bottom, Proyectos bottom -->
<div *ngIf="section=='projectBottom'">
  <div class="expanded row">
    <div class="banner banner--about-bottom--l columns large-6 small-12 bgcolor--secondary">
      <div class="large-7 large-offset-4 small-10 small-offset-1 banner__content">
        <h3 class="banner__title banner--about-bottom__title"><strong>¿Tienes una idea</strong><br/>y quieres impulsarla?</h3>
        <a routerLink="/sube-tu-proyecto" class="button button-success large" >Sube tu proyecto</a>
      </div>
    </div>

    <div class="banner banner--about-bottom--r columns large-6 small-12 end">
      <div class="large-7 large-offset-1 small-10 small-offset-1 banner__content">
        <h3 class="banner__title banner--about-bottom__title">Descubre los proyectos de las <strong>ediciones anteriores</strong></h3>
        <a routerLink="/ediciones-anteriores" class="button button-success large" >Ver proyectos</a>
      </div>
    </div>
  </div>
</div>

<!-- Proyectos header -->
<div *ngIf="section=='projectListHeader'" class="banner banner--project-list-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--project-list-header__title">Proyectos</h1>
      <h3  class="banner__subtitle banner--project-list-header__subtitle"><strong>Conoce los proyectos</strong> que han presentado hasta ahora en Eres Impulso 2017.</h3>
    </div>
  </div>
</div>

<!-- Proyectos Finalistas header -->
<div *ngIf="section == 'projectFinalistasHeader'" class="banner banner--project-list-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--project-list-header__title">Finalistas anteriores</h1>
      <h3  class="banner__subtitle banner--project-list-header__subtitle">Echa un vistazo a los <strong>proyectos que llegaron a la final</strong> de Eres Impulso en las pasadas ediciones.</h3>
    </div>
  </div>
</div>

<!-- Inspírate header -->
<div *ngIf="section=='inspireHeader'" class="banner banner--inspire-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--inspire__title">Inspírate</h1>
      <h3 class="banner__subtitle banner--inspire__subtitle">Refresca tus ideas con estos <strong>artículos, charlas y vídeos</strong> sobre la mujer, el mundo del emprendimiento y el futuro.</h3>
    </div>
  </div>
</div>

<!-- Te Asesoramos header -->
<div *ngIf="section=='resourcesHeader'" class="banner banner--resources-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--resources__title">Te asesoramos</h1>
      <h3 class="banner__subtitle banner--resources__subtitle"><strong>¿Tienes una idea en mente</strong> pero no sabes por dónde empezar? Aquí tienes las plantillas y manuales que necesitas para darle forma.</h3>
    </div>
  </div>
</div>

<!-- Te Asesoramos bottom -->
<div *ngIf="section == 'resourcesBottom'" class="banner banner--resources-bottom">
  <div class="row banner__content">
    <div class="columns large-5  large-offset-0 medium-9 medium-offset-2 small-12 banner--resources-bottom__column1">
      <h3 class="banner__title banner--resources-bottom__title"><strong>¿Tienes una idea</strong> y quieres impulsarla?</h3>
      <a routerLink="/sube-tu-proyecto" class="button button-success large" >Sube tu proyecto</a>
    </div>
    <div class="columns large-7 small-12 banner--resources-bottom__column2">
      <div class="banner--resources-bottom__image"></div>
    </div>
  </div>
</div>

<!-- home header -->
<div *ngIf="section=='project-form'" class="banner banner--project-form">
  <div class="row banner__content">
    <div class="small-12 small-centered text-center">
      <h2 class="banner__title banner--project-form__title">Sube tu proyecto</h2>
    </div>
  </div>
</div>

<!-- contacto header -->
<div *ngIf="section == 'contactoHeader'" class="banner banner--contacta-header text-center">
  <div class="row banner__content">
    <div class="small-9 small-centered text-center">
      <h1 class="banner__title banner--resources__title">contacta con nosotros</h1>
      <h3 class="banner__subtitle banner--resources__subtitle">
        <strong>¿Tienes alguna duda?</strong>
        <br>
        Envíanos tu consulta para que podamos ayudarte.
      </h3>
    </div>
  </div>
</div>
