/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

/* ¿QUE ES ERES IMPULSO? */
@import '../../../assets/scss/common';

.banner {
  background-color: $color-e0e0e0;
  color: $color-ffffff;
  height: 537px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  

  &[class*="-header"]{    
    &:before{
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width:100%;

      border-top: solid 1px $color-2a2a2a;      
    }

    &:after{
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;      
      width:100%;

      border-bottom: solid 1px $color-2a2a2a;      
    }
  }

  &__content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title{
    @include vw-font-size(50);
    line-height: 1.2em;
    // color: $secondary-color;
    color: $color-ecdd97;
    margin-bottom: 24px;
  }
  &__subtitle{
    @include Asul;
    @include vw-font-size(22);
    color: $color-ffffff;
    text-transform: none;
    line-height: 1.2em;
    margin-bottom: 24px;

    strong, i{
      // color: $secondary-color;
      color: $color-ecdd97;
    }
  }

  &--home-header{
    color: $color-383838;
    background-image: url("images/home.jpg");
    height: 639px;

    &__title{
      @include vw-font-size(132,132,88);
      line-height: 0.9em;
      font-weight: 700;
      color: $color-ecdd97;
    }

    // &__subtitle {
    //   strong, i{
    //     color: $color-ecdd97;
    //   }
    // }

    &__button-left,
    &__button-right {
      opacity: 0.85;
    }

    &__button-left{
      width: 100%;
      border: solid 1px $primary-color;
      background: rgba(darken($primary-color, 50%), 88%);
    }

    &__button-right{
      width: 100%;
      border: solid 1px $color-e0e0e0;
      background: rgba($color-383838, 91%);
    }
  }
  &--home-bottom{
    background-image: url("images/home-bottom.jpg");
    &__title{
      color: $color-ffffff;
      font-weight: 400;
    }
    strong{
      color: $color-ecdd97;
      font-weight: 700;
    }
    &__link{
      @include link($primary-color, $primary-color, none, none, transparent, transparent);
      @include vw-font-size(36);
      margin: 5px;
    }
  }
  &--about-header{
    background-image: url("images/about-header.jpg");
  }
  &--about-bottom{
    &--l{
      background-image: url("images/about-bottom-l.jpg");
    }
    &--r{
      background-image: url("images/about-bottom-r.jpg");
    }
    &__title{
      color: $color-ffffff;
      font-weight: 100;
      strong{
        font-weight: 400;
      }
    }
    &__link{
      @include link($primary-color, $primary-color, none, none, transparent, transparent);
      @include vw-font-size(36);
      margin: 5px;
    }
  }
  &--project-list-header{
    background-image: url("images/project-list-header.jpg");
  }
  &--inspire-header{
    background-image: url("images/inspire-header.jpg");
  }
  &--resources-header{
    background-image: url("images/resources-header.jpg");
  }

  &--contacta-header{
    background-image: url("images/contacta-header-desk.jpg");
  }

  &--resources-bottom{
    height: auto;
    margin: 90px 0;

    &__title{
      color: $color-ffffff;
      font-weight: 300;
      &>strong{
        font-weight: 400;
      }
    }

    &__image{
      width: 100%;
      height: 0px;
      padding-bottom: percentage(460/689);
      background-image: url("images/resources-bottom.jpg");
      background-position: center;
      background-size: cover;
    }

    @include breakpoint(small only){
      .banner__content{
        position: initial;
        transform: none;
      }
      &__column1{
        margin-top: percentage((460/689)/2);
        padding-top: percentage((460/689)/2);
        padding-bottom: vw-calc(80, 'small');
        background-color: $secondary-color;
        text-align: center;
      }
      &__column2{
        position: absolute;
        top: 0;
      }
      &__title{
        padding-top: vw-calc(60, 'small');
        padding-bottom: vw-calc(30, 'small');
      }
    }
    @include breakpoint(medium only){
      background: transparent;
      .banner__content{
        position: initial;
        transform: none;
      }
      &__column1{
        margin-top: percentage((460/689)/2);
        padding: percentage((460/689)/1.66) 5% vw-calc(60, 'small');
        background-color: $secondary-color;
      }
      &__column2{
        position: absolute;
        top: 0;
      }
      &__image{
        width: 66%;
        padding-bottom: 66%;
      }
      &__title{
        padding-bottom: vw-calc(30, 'small');
      }
    }

    @include breakpoint(large){
      height: 367px;
      position: relative;
      background-color: $secondary-color;
      &__column1{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &__column2{
        position: relative;
        height: 367px;
      }
      &__image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY( -50% );
        z-index: 2;
      }
    }
  }
  &--project-form{
    height: 220px;
    background-image: url("images/home.jpg");
  }
}

// small
@include breakpoint(small only) {
  .banner {
    &--contacta-header{
      background-image: url("images/contacta-header-mobile.jpg");
    } 
  }
}

// medium
@include breakpoint(medium only) {
  .banner {
    &--contacta-header{
      background-image: url("images/contacta-header-tablet.jpg");
    }
  }
}