.image-upload {
  //--common-radius: 3px;
  //--active-color: #33CC99;
  position: relative;
  //border-radius: var(--common-radius);
  //border: #d0d0d0 dashed 1px;
  //font-family: sans-serif;

  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.file-is-over {
  border-color: var(--active-color);
  border-style: solid;
}
.hr-inline-group{
  height: 0;
  padding: 0;
}

.hr-inline-group:after {
  display: table;
  clear: both;
  content: "";
}

.file-upload {
  /*padding: 16px;
  background-color: #f8f8f8;*/
}

.drag-box-message {
  float: left;
  display: inline-block;
  margin-left: 12px;
  padding-top: 14px;
  color: #9b9b9b;
  font-weight: 600;
}

label.upload-button input[type=file] {
  display: none;
  position: fixed;
  top: -99999px;
}

.upload-button {
  cursor: pointer;
  padding: 10px;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  float: left;

  /*-webkit-box-shadow: 2px 2px 4px 0px rgba(148, 148, 148, 0.6);
  -moz-box-shadow: 2px 2px 4px 0px rgba(148, 148, 148, 0.6);
  box-shadow: 2px 2px 4px 0px rgba(148, 148, 148, 0.6);*/

  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/*.upload-button:active span {
  position: relative;
  display: block;
  top: 1px;
}*/

.image-container {
  background-color: var(--active-color);
  //padding: 0 10px 0 10px;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image {
 /* float: left;
  display: inline-block;
  margin: 6px;
  width: 86px;
  height: 86px;
  background: center center no-repeat;
  background-size: contain;
  position: relative;*/

  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.x-mark {
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  background-color: black;
  opacity: .7;
  color: white;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 3;
}

.close {
  width: 20px;
  height: 20px;
  opacity: .7;
  position: relative;
  padding-right: 3px;
}

.x-mark:hover .close {
  opacity: 1;
}

.close:before, .close:after {
  border-radius: 2px;
  position: absolute;
  content: '';
  height: 16px;
  width: 2px;
  top: 2px;
  background-color: #FFFFFF;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: .7;
}

.spinningCircle {
  height: 30px;
  width: 30px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
  animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
}

.file-too-large {
  color: red;
  padding: 0 15px;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* CUSTOMIZATION */
.icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 50px;
  width: 50px;
  font-size: 50px;
}

#main_image,
#profile_image{
  padding-bottom: 75%;
  .upload-button {
    padding-bottom: 75%;
  }
  .icon{
    color: #383838;
  }
}
#main_image{
  background-color: #ecd9d9;
}
#profile_image{
  background-color: #cfdee2;
}


#additional_image3,
#additional_image2,
#additional_image1{
  background: #383838;
  border-radius: 50%;
 // overflow: hidden;

  .icon{
    color: #ffffff;
  }
  .upload-button,
  .image{
    border-radius: 50%;
  }
  .x-mark{
    top: 0;
    left: 0;
  }
}