@import '../../../assets/scss/common';

.session-header {
  margin-bottom: 60px;

  h1 {
    @include text($font-title, 34px, 400, normal, $color, center, uppercase, 140%);
    margin-bottom: 20px;
  }

  p {
    @include text($font-base, 22px, 400, normal, $color, center, none, 140%);
  }
}

// small
@include breakpoint(small only) {
  .session-header {
    h1 {
      font-size: 38px;
    }

    p {
      font-size: 16px;
    }
  }
}
