/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

/* TE ASESORAMOS */

@import '../../../assets/scss/common';

.resources-list {
  margin: 40px 0;

  &__title {
    margin-bottom: 20px;

    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }

  &__item {
    margin-bottom: 30px;
    padding-bottom: 30px;

    text-align: center;
    border-bottom: 1px solid $color;

    // &:last-child {
    //   border: 0;
    // }

    &__content {
      position: relative;
      padding: 80px 60px 60px 60px;

      span[class^="icon-"] {
        position: absolute;
        top: 30px;
        right: 30px;

        font-size: 35px;
      }

      &__title {
        @include text($font-title, 22px, 400, normal, $color, center, uppercase, 100%);
        margin-bottom: 20px;

        &:after {
          content: "";
          display: block;
          width: 30%;
          margin: auto;
          padding: 10px 0 0 0;

          border-bottom: 1px solid $color;
        }
      }

      &__description {
        margin-bottom: 35px;

        p {
          @include text($font-base, 16px, 400, normal, $color, center, none, 125%);
        }
      }

      &__link {
        width: 300px;
        margin: 0;
        padding: 10px;
      }
    }

    &__template {
      background-color: $color-fcd6d5;
    }

    &__manual {
      background-color: $color-d4dfe2;
    }
  }
}

div.resources-list__preview-link {
  @include text($font-title, 16px, 300, normal, $color-a6a6a6, center, uppercase);

  a {
    @include link($color-404040, $color-404040, none, none);
  }
}

a.button-see-more {
  width: 200px;
}

// small
@include breakpoint(small only) {
  .resources-list {
    &__item {
      &__content {
        padding: 80px 20px;

        &__link {
          width: 100%;
        }
      }
    }
  }

  div.resources-list__preview-link {
    margin: 10px 0 40px 0;
  }
}

// medium
@include breakpoint(medium only) {
  div.resources-list__preview-link {
    margin: 10px 0 40px 0;
  }
}
