<app-banner section="resourcesHeader"></app-banner>

<div class="resources-list">
  <div class="row">
    <div class="small-12 medium-12 large-6 columns">
      <h2 class="resources-list__title">Plantillas</h2>

      <div class="resources-list__item" [ngClass]="{'end': isLast}" *ngFor="let item of templates">
        <div class="resources-list__item__content resources-list__item__template">
          <span class="icon-plantilla"></span>

          <h3 class="resources-list__item__content__title">{{ item.title }}</h3>

          <div class="resources-list__item__content__description">
            <p>{{ item.description }}</p>
          </div>

          <a class="resources-list__item__content__link button button-success" href="{{ item.url }}" target="_blank">Descargar</a>
        </div>
      </div>

    </div>

    <div class="small-12 medium-12 large-6 columns">
      <h2 class="resources-list__title">Manuales</h2>

      <div *ngFor="let item of manuals; let i=index">
        <div class="resources-list__item" [ngClass]="{'end': isLast}" *ngIf="i < limit">        

        <div class="resources-list__item__content resources-list__item__manual">
          <span class="icon-manuales"></span>

          <h3 class="resources-list__item__content__title">{{ item.title }}</h3>

          <div class="resources-list__item__content__description">
            <p>{{ item.description }}</p>
          </div>

          <a class="resources-list__item__content__link button button-success" href="{{ item.url }}" target="_blank">Descargar</a>
        </div>
      </div>
      </div>      

      <div class="resources-list__preview-link hide-for-large" *ngIf="limit !== manuals.length">
        <a (click)="seeMore()">
          Ver más manuales
          &nbsp;
          <span class="icon-arrow"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="row show-for-large" *ngIf="limit !== manuals.length">
    <div class="small-12 columns">
      <div class="text-center">
        <a (click)="seeMore()" class="button button-success button-see-more">ver más</a>
      </div>
    </div>
  </div>
</div>

<app-banner section="resourcesBottom"></app-banner>

<!--
<div class="resources-list row">
  <div class="small-6 columns text-center">
    <h2>Plantillas</h2>

    <div class="resources-list__item resources-list__template--manual columns small-12" [ngClass]="{'end': isLast}" *ngFor="let item of templates">
      <h3 class="resources-list__title">{{ item.title }}</h3>
      <h3 class="resources-list__desc">{{ item.description }}</h3>
      <a class="resources-list__link button" href="{{ item.url }}" target="_blank">Descargar</a>
    </div>
  </div>

  <div class="small-6 columns text-center">
    <h2>Manuales</h2>

    <div class="resources-list__item resources-list__item--template columns small-12" [ngClass]="{'end': isLast}" *ngFor="let item of templates">
      <h3 class="resources-list__title">{{ item.title }}</h3>
      <h3 class="resources-list__desc">{{ item.description }}</h3>
      <a class="resources-list__link button" href="{{ item.url }}" target="_blank">Descargar</a>
    </div>
  </div>
</div>
-->
