<div class="faqs">

  <div class="faqs__section">
    <div class="row">
      <div class="columns small-12 medium-12 large-6">
        <h2>Sobre que es y como funciona Eres Impulso</h2>
      </div>
    </div>

    <div class="row">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item columns small-12 medium-12 large-6" data-accordion-item *ngFor="let item of about">
          <a href="#" class="accordion-title">{{ item.question }}</a>

          <div class="accordion-content" data-tab-content [innerHTML]="item.answer"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="faqs__section">
    <div class="row">
      <div class="columns small-12 medium-12 large-6">
        <h2>Sobre los proyectos</h2>
      </div>
    </div>

    <div class="row">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item columns small-12 medium-12 large-6" data-accordion-item *ngFor="let item of projects">
          <a href="#" class="accordion-title">{{ item.question }}</a>

          <div class="accordion-content" data-tab-content [innerHTML]="item.answer">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
