/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

/* ¿QUE ES ERES IMPULSO? */

@import '../../../assets/scss/common';

div.faqs {
  padding: 40px 0;
  background-color: $color-f5f5f5;

  &__section {
    margin-bottom: 60px;
  }

  h2 {
    @include text($font-title, 40px, 400, normal, $color, left, uppercase, 140%);
  }

  ul.accordion {
    background-color: transparent;
    overflow: hidden;

    li.accordion-item {
      margin-bottom: 30px;

      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid $color;
      }

      &:nth-child(2n + 1){
        clear: both;
      }

      &.is-active {
        a.accordion-title {
          &:before {
            content: "\E91D";
          }
        }
      }

      a.accordion-title {
        @include text($font-title, 20px, 400, normal, $color, left, uppercase, 140%);
        @include link($color, $color, none, none, transparent, transparent);
        margin-right: 50px;
        padding: 20px 0;

        border: 0;

        &:before {
          content: "\E91E";
          top: 40%;
          right: -40px;

          font-family: 'ei-icons' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          font-size: 32px;
        }
      }

      div.accordion-content {
        @include text($font-base, 15px, 400, normal, $color, left, none, 140%);
        padding: 0 0 20px 0;

        background-color: transparent;
        border: 0;
      }
    }
  }
}

// medium
@include breakpoint(medium) {
  div.faqs {
    &__section {
      padding: 0 130px;
    }
  }
}
