@import '../../../../assets/scss/common';

.project-navigation {
    @include text($font-base, $font-size + 1, 300, normal, $color, center, uppercase, 100%);
    margin-bottom: 30px;
    padding: 20px 0 10px 0;

    overflow: hidden;
    background-color: $color-f5f5f5;
    border-bottom: 1px solid $color-e1e1e1;

    ul.navigation {
        li.navigation__item {
            margin: 0;
            padding: 0 15px;

            border-right: 1px solid $color;

            &:last-child {
                border: 0;
            }

            &:first-child {
                padding: 0 25px 0 0;
            }

            &:last-child {
                padding: 0 0 0 15px;
            }

            a {
                @include link ($color, $a-color, none, none);
            }
        }
    }
}

div.project__details {
    margin-bottom: 80px;

    &__description {

        &>.columns{
            vertical-align: bottom;
            float: none;
            display: inline-block;
            margin-right: -4px;
            margin-bottom: 15px;
        }

        h1 {
            @include text($font-title, 24px, 400, normal, $color, left, uppercase, 140%);
            margin: 0;
        }

        h2 {
            @include text($font-base, 17px, 300, normal, $color, left, capitalize);
            margin: 0;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            line-height: 130%;
        }

        &__image {
            margin-bottom: 20px;
        }

        &__text {
          margin-bottom: 30px;
        }

        button.button {
            width: 100%;
            max-width: 200px;
        }

        &__share {
            font-size: 12px;
            text-align: right;
            line-height: 100%;

            overflow: hidden;

            &__title {
                float: right;
                padding: 7px 20px 0 0;
            }

            &__links {
                float: right;

                a {
                    @include link ($a-color, $a-color, none, none);
                    font-size: 26px;

                    &:first-child {
                        @include link (#2382c7, #2382c7, none, none);
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    &__media {
        margin: 5% 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }    
}

// small
@include breakpoint(small only) {
  div.project-navigation {
    ul.navigation {
        li.navigation__item {
            border: 0;

            &:first-child {
              float: left;
              padding: 0;

              -ms-transform: rotate(180deg); /* IE 9 */
              -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
              transform: rotate(180deg);
            }

            &:last-child {
              float: right;
              padding: 0;
            }
        }
    }
  }

    div.project__details {
        &__media {
            margin: 10% 0;

            &:first-child {
                margin-top: 10%;
            }
        }

        &__description {
          &__share {
            padding-top: 8px;

            font-size: $font-size;

            &__title {
              padding-top: 4px;
            }
          }
        }
    }
}

// medium
@include breakpoint(medium only) {
    div.project__details {
        &__description {
          &__share {
            padding-top: 5px;
          }
        }

        &__media {
            margin: 10% 0;

            &:first-child {
                margin-top: 10%;
            }
        }
    }
}

// large
@include breakpoint(large) {
    div.project__details {
      &__description {
        &__share {
          // padding-top: 25px;
        }
      }
    }
}

.votes{
    @include text($font-title, 24px, 400, normal, $color-383838, right, uppercase, 100%);
    &.no-votes{
        color: $color-a6a6a6;
    }
    button{
        display: inline-block;
        vertical-align: middle;
        font-size: 26px;
        color: $color-e0e0e0;
        margin-left: 5px;

        &:hover{
            color: red;
        }
        &.voted{
            animation: pum-pum 0.5s;
            color: red;
        }
        @keyframes pum-pum {
            0% { transform: scale(1); }
            50% { transform: scale(2);}
            100% { transform: scale(1); color: red;}
        } 
    }
}