<app-banner section="projectListHeader"></app-banner>

<!-- project navigation -->
<div class="project-navigation">
  <div class="row">
    <div class="small-12 columns">
      <ul class="navigation text-center navigation">
        <li class="navigation__item">
          <a (click)="getNavigate(year, status, false)">
            <span class="hide-for-small-only">Ver proyecto anterior</span>
            <span class="icon-arrow show-for-small-only"></span>
          </a>
        </li>

        <li class="navigation__item">
          <a (click)="getSeeAll(year)">Ver todos</a>
        </li>

        <li class="navigation__item">
          <a (click)="getNavigate(year, status, true)">
            <span class="hide-for-small-only">Ver proyecto siguiente</span>
            <span class="icon-arrow show-for-small-only"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- / project navigation -->

<div class="project__details">
  <div class="row show-for-large">
      <div class="columns small-4">
        <div class="project__details__description row collapsed">
          <div class="small-9 columns">
            <h1 *ngIf="project.project_name">{{ project.project_name }}</h1>
            <h2 *ngIf="project.user_name">{{ project.user_name }}</h2>
          </div>
          <div class="small-3 columns">
            <div *ngIf="project.project_year==='2017'" [ngClass]="{'no-votes':!project.votes.length}" class="votes">
              {{ project.votes.length }} <button (click)="vote(project)" [disabled]="voted" class="icon-corazon" [ngClass]="{'voted':voted}"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="columns small-8">
        <div class="project__details__description__share">
          <div class="project__details__description__share__links">
            <a href="{{ facebook }}" target="_blank"><span class="icon-facebook"></span></a>
            <a href="{{ twitter }}" target="_blank"><span class="icon-tw"></span></a>
          </div>

          <div class="project__details__description__share__title">
            Compartir
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="columns small-12 medium-12 large-4">
      <div class="project__details__description">
        <h1 class="hide-for-large">{{ project.project_name }}</h1>

        <h2 class="hide-for-large">{{ project.project_author }}</h2>

        <div class="project__details__description__image">          
          <img class="img-responsive-max" src="{{ project_real_image }}" alt="{{ project.project_name }}">
        </div>

        <div class="project__details__description__text" [innerHTML]="project.project_description"></div>

        <div class="row" *ngIf="project.project_year==='2017'" >
          <div class="columns small-6">
            <button class="button button-success" (click)="vote(project)" [disabled]="voted" >Votar</button>
          </div>

          <div class="columns small-6">
            <div class="project__details__description__share hide-for-large">
              <div class="project__details__description__share__links">
                <a href="{{ facebook }}" target="_blank"><span class="icon-facebook"></span></a>
                <a href="{{ twitter }}" target="_blank"><span class="icon-tw"></span></a>
              </div>

              <div class="project__details__description__share__title">
                Compartir
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    

    <div class="columns small-12 medium-12 large-8">
      <div class="project__details__media">
        <div id="youtube-video" class="responsive-embed"></div>        
      </div>

      <!-- owl de imágenes -->
      <div class="owl-carousel owl-theme owl-theme-float-dots" *ngIf="carousel"> 

        <div class="item" *ngFor="let item of carousel">
          <img src="{{ item }}" alt="{{ project.project_name }}">
        </div>        
        
      </div>
      <!-- owl de imágenes -->
    </div>
  </div>
</div>

<app-banner section="projectBottom"></app-banner>
