<div class="social-login">
  
  <div class="social-header">
    <h1>Para votar</h1>
    <p>debes iniciar sesión</p>
  </div>

  <div class="social-buttons">
      <button class="social-button facebook" (click)="signIn('facebook')"><span></span>Inicia con Facebook</button>
      <button class="social-button google" (click)="signIn('google')"><span></span>Inicia con Google</button>
  </div>

  <p class="text-center">o bien inicia sesión contus datos:</p>

  <login-form></login-form>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span class="icon-cerrar"></span>
  </button>
</div>
