@import '../../../assets/scss/common';

.social-login{
  border: solid 1px $color-383838;
  padding: 20px 50px;
  h1{
    @include text($font-title, 34px, 400, normal, $color, center, uppercase, 140%);
  }
  .social-header > p{
    @include text($font-base, 20px, 100, normal, $color, center, none, 100%);
  }
  .social-buttons{
    margin: 20px 0;
  }
  .social-button{
    display: inline-block;
    width: 45%;
    padding: 20px 0;
    text-align: center;
    @include text($font-title, 16px, 400, normal, white, center, uppercase, 100%);
    &.google{
      margin-left: 5%;
      background-color: #e6351b;
      :hover{
        background-color: darken(#e6351b, 30%);
      }
    }
    &.facebook{
      background-color: #2057a9;
      :hover{
        background-color: darken(#2057a9, 30%);
      }
    }
  }

  .close-button {
    @include btn(#282828, #282828, transparent, transparent);
    position: absolute;
    top: 0;
    right: 0px;
    margin: 0;
    padding: 0;

    font-size: 70px;

    span.icon-cerrar {
      &:before {
        color: $primary-color;
      }
    }
  }
}