/* You can add global styles to this file, and also import other style files */

/*************************************
  PLEASE, USE BEM NAMING CONVENTION
  http://getbem.com/

  Thanks,
  ezequiel.herrera@innofis.com
**************************************/

// fonts
@import url('https://fonts.googleapis.com/css?family=Asul|Oswald:700,400,300');

// custom-settigs
@import './assets/scss/custom-settings';

// foundation and others
@import './assets/scss/common';

// start foundation
@include foundation-everything;

// vendors
@import './assets/icons/style';
@import './assets/bower_components/owl.carousel/src/scss/owl.carousel';
@import './assets/bower_components/owl.carousel/src/scss/owl.theme.default';

/* ----------- */
/* OVERWRITING */
/* ----------- */

// body
body {
  @include text;
  letter-spacing: $letter-spacing;
  line-break: auto;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  background-color: $background-color;
}

// links
a {
  &:not(.button) {
    @include link;
    cursor: $a-cursor;
  }
}

// button
button {
  cursor: pointer;
}

// titles
h1, h2, h3, h4, h5, h6{
  @include Oswald;
}

// clases generales
.img-responsive,
.img-responsive-max,
.img-responsive-center {
  @include img-responsive;
}

.img-responsive-max {
	width: 100%;
}

.img-responsive-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circle {
  @include image-circle;
}

/* SHARED STYLES */
.text{
  &-center{
    text-align: center;
  }
  &-right{
    text-align: right;
  }
  &-white{
    color: $color-ffffff;
  }
}

.bgcolor{
  // gary
  &--primary{
    background-color: $primary-color;
  }
  // pink
  &--secondary{
    background-color: $secondary-color;
    color: $color-ffffff;
  }
  // dark gray
  &--dark{
    background-color: $color-404040;
    color: $color-ffffff;
  }
}

.navigation{
  @include Oswald;
  list-style: none;
  margin: 0;
  &__item{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px;
  }
}

.pager{
  list-style: none;
  &__item{
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px;
  }
}

/* COMPONENT STYLES */
/* Buttons */
.button{
  @include Oswald;

  &.button-success {
    @include btn;
    @include text ($font-button, $button-font-size, $button-font-weight, $button-font-style, $button-color, $button-text-align, $button-text-transform, $button-line-height);
    @include border ($button-border, $button-border-radius);
    height: $button-min-height;
    padding: $button-padding;
    letter-spacing: $button-letter-spacing;
  }

  &.button-error{
    height: $button-min-height;
    padding: $button-padding;
    letter-spacing: $button-letter-spacing;
    background-color: $secondary-color;
  }

  &.button-transparent {
    @include btn($color, $color, transparent, transparent);
    @include text ($font-button, $button-font-size, $button-font-weight, $button-font-style, $color, $button-text-align, $button-text-transform, $button-line-height);
    @include border ($button-border, $button-border-radius);
    height: $button-min-height;
    padding: $button-padding;
    letter-spacing: $button-letter-spacing;
    border: 1px solid $color;
  }
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  @include placeholder($color);
  height: 2rem;
  margin: 0 0 1rem;

  border: none;
  border-bottom: solid 1px $color-383838;
  background: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    outline: none;
    border: 0;
    border-bottom: solid 1px #383838;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }
}

label {
  font-size: 18px;
  line-height: 100%;
}

fieldset {
  position: relative;

  span[class^="icon-"] {
    position: absolute;
    top: 20%;
    right: 0;
    font-size: 26px;
  }
}

textarea {
  @include placeholder($color);
  padding: 20px;

  color: $color;
  background-color: $color-f9f9f9;
  line-height: 160%;
  resize: none;

  &:hover,
  &:focus {
    outline: none;
    border: solid 1px $color-a6a6a6;
    background-color: $color-f9f9f9;
    box-shadow: none;
    transition: none;
  }
}

.error{
  label,
  [class^="icon-"],
  [class*=" icon-"] {
    color: $secondary-color !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    @include placeholder($secondary-color);
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

.validation-message--error{
  border: solid 1px $error_color;
  background-color: $error_bg;
}

// owl carousel
.owl-theme {
  .owl-nav {
    // &.disabled {
    //   & + .owl-dots {
    //     margin-top: 25px;
    //   }
    // }
    display: none;
    position: absolute;
    width: 100%;
    top: 130px;
    margin: 0;
    padding: 0;

    overflow: visible;

    [class*='owl-'] {
      background: transparent;
      background-color: transparent;

      &:hover {
        background: transparent;
        background-color: transparent;
      }
    }

    div.owl-prev,
    div.owl-next {
      position: absolute;
      margin: 0;
      padding: 0;

      line-height: 100%;

      &.disabled {
        display: none;
      }

      span.icon-arrow {
        font-size: 30px;
        font-weight: 400;
        color: $color;
      }
    }

    div.owl-prev {
      left: -8px;

      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }

    div.owl-next {
      right: -8px;
    }
  }

  .owl-dots {
    .owl-dot {
      &:hover {
        span {
          background: transparent;
        }
      }

      span {
        height: 13px;
        width: 13px;
        margin: 5px;

        background: transparent;
        border: 2px solid $primary-color;
      }

      &.active {
        span {
          background: $primary-color;
          border: 2px solid transparent;
        }
      }
    }
  }

  &.owl-theme-float-dots {
    position: relative;    
        
    .owl-dots {
      position: absolute;
      bottom: 10px;
      left: 45%;

      .owl-dot {
        span {
          width: 16px;
          height: 16px;
    
          background: $color-ffffff;;
          border: 2px solid $color-ffffff;
        }

        &.active {           
          span {
            background-color: $primary-color;        
            border: 2px solid transparent;
          }
        }
      }
    }
  }  
}

.responsive-embed {
  margin: 0;
}

// small
@include breakpoint(small only) {
  label {
    font-size: 14px;
  }
}

// medium
@include breakpoint(medium only) {
  label {
    font-size: 16px;
  }
}

// large
@include breakpoint(large) {
  .owl-theme {
    .owl-nav {
      display: block;
    }

    &.owl-theme-jury-member {    
      .owl-nav {
        top: 180px;

        .owl-prev {
          left: 60px;
        }

        .owl-next {
          right: 60px;
        }
      }

      .owl-dots {
        display: none;
      }
    }
  }
}

