@import '../../../assets/scss/common';

.link__see-more {
  @include text($font-title, 22px, 300, normal, $color, center, uppercase, 100%);
  margin: 20px 0 80px 0;

  text-align: center;

  &__text {
    margin-bottom: 10px;
  }

  button {
    @include link($a-color, $a-color, none, none);

    span.icon-arrow_down {
      font-size: 46px;
    }
  }
}
