<div class="link__see-more">
  <div class="row">
    <div class="columns small-12">
      <div class="link__see-more__text">
        {{ title }}
      </div>

      <button type="button" (click)="action()">
        <span class="icon-arrow_down"></span>
      </button>      
    </div>
  </div>
</div>
